<p align="center">
    <img style="width: 50%;" src="/manage/home/static/upload/사본 -안내 배너2.png">
</p>
<p></p>
<p align="center"></p>
<p>
    <br>
</p>
<p align="center">
    <br>
</p
><p>
    <br>
</p>
<p align="center">안녕하세요. K-MOOC입니다.</p>
<p><br></p>
<p align="center">2.28일&nbsp;iOS버전 &nbsp;K-MOOC 모바일 앱이 앱스토어를 통해 공개되어</p>

<p align="center">이제 안드로이드와 iOS를 사용하는 대부분의&nbsp;모바일기기에서&nbsp;</p>
<p align="center">K-MOOC를 편하게 이용하실 수 있게 되었습니다!</p>
<p>
    <br>
</p>
<p align="center">K-MOOC앱을 다운받으시려면, </p>
<p align="center">모바일 앱 마켓에서 "K-MOOC"를 검색하시거나 아래 주소로 접속하시면 됩니다!</p>
<h3 align="center">
    <br>
        -iOS : <a href="https://goo.gl/jgMrC1">https://goo.gl/jgMrC1</a>
    <br>-Android : <a href="https://goo.gl/1dJyQS">https://goo.gl/1dJyQS</a>
    <br></h3>
<p align="center">
    <br>
</p>
<p align="center">이제 언제(Any Time), 어디서든(Any Where), 다양한 기기를 통해(Any Device) </p>
<p align="center">K-MOOC를 즐겨 보아요!<br></p>
<p align="center">
    <br>
</p>
<p>
    <br>
</p>
<p align="center">
    <br>
</p>
<p>
    <br>
</p>