<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test_index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log('document ready.');
        });

        //not working.
        function file_download_ajax() {
            $.post("/manage/file_download_test", {
                        csrfmiddlewaretoken: '{{csrf_token}}',
                    }, function (data) {
                        alert(data);
                    }
            )
            ;
        }

    </script>
</head>
<body>
<h3>test_index page.</h3>
<br/>
<a href="/manage/file_download_test" target="hidden_target">file_download_test1</a>
<br/>
<a href="javascript:file_download_ajax();">file_download_test2</a>

<iframe name="hidden_target" style="display: none;"></iframe>
</body>
</html>