{% extends "container/main_base.html" %}
{% block pagetitlename %}조회 이력{% endblock %}
{% block pagetitlename_header %}조회 이력{% endblock %}
{% block script_down %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<style type="text/css">

.pop-layer .pop-container {
  padding: 20px 25px;
}

.pop-layer p.ctxt {
  color: #666;
  line-height: 25px;
}

.pop-layer .btn-r {
  width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
}

.pop-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 410px;
  height: auto;
  background-color: #fff;
  border: 5px solid #3571B5;
  z-index: 10;
}

.dim-layer {
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
  display: block;
}

a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}

a.btn-layerClose:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff;
}

    #startDt {
        float: left;
        width: 150px;
        margin-right: 10px;
        margin-bottom: 15px;
    }
    #endDt {
        float: left;
        width: 150px;
        margin-right: 50px;
    }

    #name_search {
        width: 300px;
    }
    #org_search {
        float: left;
        width: 310px;
        margin-right:50px;
    }
    #code_search {
        width: 300px;
        margin-left:5px;
    }
    #m_submit {
        float: right;
        margin-right: 30px;
        margin-top: 27px;
    }
    .search_c{
        margin-top:5px;
    }

    #system {
        margin-bottom: 15px;
    }
    #datatable-ajax_wrapper{
        margin-top:15px;
    }

    #datatable-ajax_paginate{
        display:none;
    }
    #datatable-ajax_info{
        display:none;
    }
</style>

<script>
    // 달력 관련 소스
    function dateMinus(days)
    {
        var nday = new Date();
        nday.setDate(nday.getDate() - days);
        var yy = nday.getFullYear();
        var mm = nday.getMonth()+1;
        var dd = nday.getDate()+1;

        if( mm<10) mm="0"+mm;
        if( dd<10) dd="0"+dd;
        return yy + "/" + mm + "/" + dd;
    }

    $(function () {
        $("#startDt").datepicker({dateFormat: 'yy/mm/dd'});
        $("#endDt").datepicker({dateFormat: 'yy/mm/dd'}).bind("change", function () {
            var minValue = $(this).val();
            minValue = $.datepicker.parseDate("yy/mm/dd", minValue);
            minValue.setDate(minValue.getDate());
            $("#endDt").datepicker("option", "minDate", minValue);
        })
    });

    function submit_click(){
        var table = $('#datatable-ajax').DataTable();
        table.ajax.reload();
    }

    $(document).ready(function () {
        $("#m_submit").click(function () {
            var table = $('#datatable-ajax').DataTable();
            table.ajax.reload();
        });

        $("*").keydown(function (event) {
            if (event.which === 13) {
                submit_click();
            }
        });

        $("#endDt").val(dateMinus(0));
        $("#startDt").val(dateMinus(30));

        setDataTable();
    });

    function hello(d_id, d_content, d_time, d_func, d_oper){
        //console.log(d_id);
        //console.log(d_content);
        //console.log(d_time);
        //console.log(d_func);
        //console.log(d_oper);

        $.get( "/history", {
            d_id: d_id,
            d_time: d_time
        })
          .done(function( data ) {
              if(data.return == 'fail'){
                  swal("변경 내용", "변경 내용이 데이터베이스에 기록되지 않았습니다", "error");
                  //swal('변경 내용', '변경 내용이 데이터베이스에 기록되지 않았습니다');
              }
              else{
                  swal('변경 내용', data.return);
              }
          });
    }

    function hello2(d_content) {
        swal('생성 파일', d_content);
    }

    function search() {
        var table = $('#datatable-ajax').DataTable();
        table.ajax.reload();
    }

    function buildSearchData() {
        //var system = $("#system").val();

        var obj = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            startDt: $("#startDt").val(),
            endDt: $("#endDt").val(),
            system : $("#system").val(),
            func : $("#func").val(),
            oper : $("#oper").val(),

        }
        return obj
    }

    function setDataTable() {
        var $table = $('#datatable-ajax');

        $table.dataTable({
            dom: '<"toolbar">rt<"bottom"ip><"clear">Bfrtip',
            buttons: [
            'csv', 'excel'
            ],
            bProcessing: true,
            ordering: false,
            serverSide: false,
            searching: false,
            lengthMenu: [
                [10, 20, 50, 999999], //key
                [10, 20, 50, "All"] //value
            ],
            pageLength: 10,
            ajax: {
                url: "/history/",
                type: "GET",
                dataType: "json",
                data: buildSearchData,
                dataSrc: function (json) {
                    return json.data;
                }
            },
            columns: [
                {data: "system"},
                {data: "func"},
                {data: "oper"},
                {data: "search"},
                {data: "count"},
                {data: "username"},
                {data: "ip"},
                {data: "action_time"},
                {data: "content"},
            ],
            columnDefs: [
                {targets: 0, visible: true, width: '5%'},
                {targets: 1, visible: true, width: '10%'},
                {targets: 2, visible: true, width: '10%'},
                {targets: 3, visible: true, width: '10%'},
                {targets: 4, visible: true, width: '3%'},
                {targets: 5, visible: true, width: '8%'},
                {targets: 6, visible: true, width: '1%'},
                {targets: 7, visible: true, width: '12%'},
                {
                    targets: 8, visible: true, width: '10%', render: function (data, type) {
                    tmp = data.split("+");
                    //console.log("a = " + tmp[0]);
                    //console.log("b = " + tmp[1]);
                    //console.log("c = " + tmp[2]);

                    var d_id = tmp[0];
                    var d_content = tmp[1];
                    var d_time = tmp[2];
                    var d_func = tmp[3];
                    var d_oper = tmp[4];

                    //console.log(d_func);
                    //console.log(d_oper);

                    if(d_func == '회원 정보 수정'){
                        d_func = 3 ;
                    }
                    else if(d_func == '파일 다운로드'){
                        d_func = 297 ;
                    }
                    else{
                        d_func = 'null' ;
                    }

                    if(d_oper == '수정'){
                        d_oper = 2 ;
                    }
                    else if(d_oper == '생성'){
                        d_oper = 1 ;
                    }
                    else{
                        d_oper = 'null' ;
                    }

                    if(d_func == 3 && d_oper == 2){

                        d_time = d_time.toString();
                        dt = d_time.split(" ");
                        dt_f = dt[0].split("-");
                        dt_b = dt[1].split(":");
                        var d_year = dt_f[0];
                        var d_mon = dt_f[1];
                        var d_day = dt_f[2];
                        var d_hour = dt_b[0];
                        var d_min = dt_b[1];
                        var d_sec = dt_b[2];
                        var full_time = d_year + '' + d_mon + '' + d_day + '' + d_hour + '' + d_min + '' + d_sec;

                        //console.log(full_time);

                        if(d_content == ''){
                           d_content = 'null'
                        }

                        return '<a onclick="hello(' + d_id + ', ' + d_content + ',' + full_time + ',' + d_func + ',' + d_oper + ');">상세보기</a>';
                    }
                    else if(d_func == 297 && d_oper == 1){
                        return '<a onclick="hello2(\'' + d_content + '\');">상세보기</a>';
                    }
                    else{
                        return '';
                    }
                },
                },
            ],
            paginate: true,
        });
    }

</script>

{% endblock %}
{% block containor %}
    <!-- start: page -->

    <section class="panel panel-featured ">
        <header class="panel-heading">
            <div><h2 class="panel-title">조회 이력</h2></div>
        </header>
        <div class="panel-body">
            {% load static %}

            <!-- top menu -->
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label"> 접속 일시 (시작)</label>
                        <input type="text" id="startDt" value="2017/12/07" placeholder="날짜 검색(시작)" class="form-control"/>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label"> 접속 일시 (종료)</label>
                        <input type="text" id="endDt" value="2017/12/07" placeholder="날짜 검색(종료)" class="form-control"/>
                    </div>
                </div>
                <input type="button" class="btn btn-success" id="m_submit" value="검색">
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">시스템</label>
                        <select name="system" id="system" class="form-control">
                            <option value="all">전체</option>
                            <option value="Admin">Admin</option>
                            <option value="K-MOOC">K-MOOC</option>
                            <option value="Insight">Insight</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">기능</label>
                        <select name="func" id="func" class="form-control">
                            <option value="all">전체</option>
                            <option value="회원 정보 리스트">회원 정보 리스트</option>
                            <option value="회원 정보 상세">회원 정보 상세</option>
                            <option value="회원 정보 수정">회원 정보 수정</option>
                            <option value="등록관리 - 베타 테스터">등록관리 - 베타 테스터</option>
                            <option value="등록관리 - 일괄 등록">등록관리 - 일괄 등록</option>
                            <option value="강좌 운영팀 관리 (게시판 관리자, 토의 진행자, 게시판 조교)">강좌 운영팀 관리 (게시판 관리자, 토의 진행자, 게시판 조교)</option>
                            <option value="강좌 운영팀 관리 (운영팀, 교수자, 베타 테스터)">강좌 운영팀 관리 (운영팀, 교수자, 베타 테스터)</option>
                            <option value="학습자 진도 페이지">학습자 진도 페이지</option>
                            <option value="문제 풀이 횟수 설정 초기화">문제 풀이 횟수 설정 초기화</option>
                            <option value="익명 학습자 아이디 CSV 파일">익명 학습자 아이디 CSV 파일</option>
                            <option value="개인정보를 CSV 파일로 다운로드">개인정보를 CSV 파일로 다운로드</option>
                            <option value="등록할 수 있는 학습자의 CSV 다운로드">등록할 수 있는 학습자의 CSV 다운로드</option>
                            <option value="문제 답변 CSV 파일 다운로드">문제 답변 CSV 파일 다운로드</option>
                            <option value="발급된 이수증 조회">발급된 이수증 조회</option>
                            <option value="발급된 이수증 CSV 파일">발급된 이수증 CSV 파일</option>
                            <option value="등록된 학습자의 프로필 목록">등록된 학습자의 프로필 목록</option>
                            <option value="성적 보고서">성적 보고서</option>
                            <option value="문항 성적 보고서 생성">문항 성적 보고서 생성</option>
                            <option value="ORA 데이터 보고 생성하기">ORA 데이터 보고 생성하기</option>
                            <option value="파일 다운로드">파일 다운로드</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">수행업무</label>
                        <select name="oper" id="oper" class="form-control">
                            <option value="all">전체</option>
                            <option value="조회">조회</option>
                            <option value="생성">생성</option>
                            <option value="수정">수정</option>
                            <option value="삭제">삭제</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- top menu -->

            <!-- data tables -->
            <table id="datatable-ajax" class="table table-hover table-striped  table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>시스템</th>
                    <th>기능</th>
                    <th>수행 업무</th>
                    <th>검색어</th>
                    <th>건수</th>
                    <th>접속자 아이디</th>
                    <th>아이피</th>
                    <th>접속 일시</th>
                    <th>업무 내용</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <!-- data tables -->
        </div>
    </section>
{% endblock %}