{% extends "container/main_base.html" %}
{% block pagetitlename %}개인정보조회{% endblock %}
{% block pagetitlename_header %}사용내역{% endblock %}
{% block script %}{% endblock %}

{% block script_down %}
    <style type="text/css">

        div.dataTables_info {
            width: 40%;
        }

        div.dataTables_paginate .paginate_button,
        div.dataTables_paginate .paginate_active {
            border: 0px solid #ddd;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            padding: 5px 13px;
            cursor: pointer;
            *cursor: hand;
        }

        div.dataTables_paginate .paginate_button {
            background-color: #fff;
            color: #777;

        }

        div.dataTables_paginate .paginate_button.current {
            background-color: #0088cc;
            color: #fff;

        }

        div.dataTables_paginate .paginate_button:hover {
            background-color: #ccc;
        }

        div.dataTables_paginate .paginate_active {
            background-color: #99B3FF;
        }

        .dataTables_paginate {
            height: 22px;
            line-height: 22px;
        }

    </style>

    <script>
        $(document).ready(function () {
            console.log('dataTable version ' + $.fn.dataTable.version);

            $("input, select").keyup(function (e) {
                if (e.keyCode == 13)
                    search();
            });

            setDataTable();
            inputFuncChange();
        });

        function inputFuncChange() {
            $("#func").change(function () {
                console.log('select func value = ' + $(this).val());

                var func_val = eval($(this).val());


                $("#func_detail").val("");
                $("#func_detail option:not([value=''])").remove();

                $("#func_detail").prop("disabled", true);
                $("#target_id").prop("disabled", true);

                switch (func_val) {
                    case 3:
                        $("#target_id").prop("disabled", false);
                        break;
                    case 291:
                        $("#target_id").prop("disabled", false);
                        break;
                    case 295:
                        $("#func_detail").prop("disabled", false);
                        $("#target_id").prop("disabled", false);

                        // 게시판 관리자 토의 진행자 게시판 조교
                        options = {
                            'Administrator': '게시판 관리자',
                            'Moderator': '토의 진행자',
                            'Community TA': '게시판 커뮤니티 조교',
                        }
                        $.each(options, function (key, value) {
                            console.log(key + ":" + value);

                            $("#func_detail").append($('<option>', {
                                value: key,
                                text: value
                            }));

                        })

                        break;
                    case 306:
                        $("#func_detail").prop("disabled", false);
                        $("#target_id").prop("disabled", false);

                        // 게시판 관리자 토의 진행자 게시판 조교
                        options = {
                            'staff': '운영팀',
                            'instructor': '교수자',
                            'beta': '베타 테스터',
                        }

                        console.log(key + ":" + value);

                        $("#func_detail").append($('<option>', {
                            value: key,
                            text: value
                        }));

                        break;
                    default:


                        break;
                }
            });

        }

        function search() {
            var table = $('#datatable-ajax').DataTable();
            table.ajax.reload();
        }

        function buildSearchData() {
            var table = $("#datatable-ajax").DataTable();
            var info = table.page.info();
            var system = $("#system").val();
            var operation = $("#operation").val();
            var func = $("#func").val();
            var func_detail = $("#func_detail").val();
            var user_id = $("#user_id").val();
            var target_id = $("#target_id").val();

            var obj = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                org: $("#org").val(),
                course: $("#course").val(),
                run: $("#run").val(),
                page_no: info.page,
                page_length: info.length,
                system: system,
                operation: operation,
                func: func,
                func_detail: func_detail,
                user_id: user_id,
                target_id: target_id
            }

            return obj
        }

        function setDataTable() {
            var $table = $('#datatable-ajax');

            $table.dataTable({
                dom: 'T<"clear"l><"toolbar"><"search"f>rt<"bottom"ip><"clear">',
                bProcessing: true,
                ordering: false,
                serverSide: true,
                searching: false,
                lengthMenu: [
                    [10, 20, 50, 999999], //key
                    [10, 20, 50, "All"] //value
                ],
                pageLength: 10,
                ajax: {
                    url: "/manage/history/",
                    type: "GET",
                    dataType: "json",
                    data: buildSearchData,
                    dataSrc: function (json) {
                        return json.data;
                    }
                },
                columns: [
                    {data: "id", class: "details-control"},
                    {data: "system", data_value: "user_id"},
                    {data: "username", data_value: "user_id"},
                    {data: "action_time", class: "details-control"},
                    {data: "content_type_id"},
                    {data: "action_flag"},
                    {data: "content_type_detail"},
                    {data: "target_id"},
                    {data: "search_string"},
                    {data: "cnt"},
                    {data: "ip"},
                ],
                columnDefs: [
                    {targets: 0, visible: false,},
                    {targets: 1, visible: true, width: '6%'},
                    {targets: 2, visible: true, width: '11%'},
                    {targets: 3, visible: true, width: '10%'},
                    {targets: 4, visible: true, width: '17%'},
                    {targets: 5, visible: true, width: '8%'},
                    {
                        targets: 6, visible: true, render: function (data, type, row) {
                        var data_length = data.length
                        console.log(data_length);
                        if (data_length > 25)
                            return data.substr(0, 25) + ' ...'
                        else
                            return data
                    }
                    },
                    {targets: 7, visible: true, width: '8%'},
                    {targets: 8, visible: true, width: '10%'},
                    {targets: 9, visible: true, width: '6%'},
                    {targets: 10, visible: true, width: '9%'},
                ],
                oTableTools: {
                    sSwfPath: $table.data('swf-path'),
                    aButtons: [
                        {
                            sExtends: 'csv',
                            sButtonText: 'csv',
                            fnClick: function () {
                                var param_json = buildSearchData();
                                window.open("/manage/csv/history?" + $.param(param_json), "_blank");
                            }
                        },
                        {
                            sExtends: 'print',
                            sButtonText: 'Print',
                            bFooter: false,
                            sInfo: 'Please press CTR+P to print or ESC to quit'
                        }
                    ]
                },
                paginate: true,
                pagingType: "full_numbers",
                language: {
                    lengthMenu: "_MENU_",
                    zeroRecords: "조회된 데이터가 없습니다",
                    info: "전체페이지 _PAGE_ / _PAGES_ ( _MAX_ )",
                    infoEmpty: "No records available",
                    infoFiltered: "(filtered from _MAX_ total records)",
                    sEmptyTable: "조회된 데이터가 없습니다",
                    paginate: {
                        first: "처음",
                        previous: "이전",
                        next: "다음",
                        last: "끝"
                    }
                },

                //tfooter 활성화 해야 사용 가능.
                "initComplete": function (settings, json) {
                    $("table").css({'table-layout': 'fixed'});
                    $("table td").css({'text-overflow': 'ellipsis', 'overflow': 'hidden'});
                    $("select[name=datatable-ajax_length]").css({"height": "30px", "margin-top": "5px"});

                    $("#datatable-ajax").before("<span style='float: right; padding-top: 15px;'>* 회원정보 수정 기능의 수정 업무는 업무 내용이 있을시 클릭하여 상세 내역을 확인할수 있습니다.</span>");

                    $('input[type="search"]').attr('placeholder', '검색하세요');
                    $('input[type="search"]').attr('class', 'form-control');
                    $('input[type="search"]').css('width', '200px');
                    //$('#ZeroClipboard_TableToolsMovie_1').css('align','left');
                    $('#ToolTables_datatable-ajax_0').attr('class', 'btn btn-default');
                    $('#ToolTables_datatable-ajax_1').attr('class', 'btn btn-default');

                    this.api().columns().every(function (i) {
                        //if (i == 0){
                        //	return;
                        //}

                        var column = this;
                        var select = $('<select style="width: 100%;"><option value=""></option></select>')
                                .appendTo($(column.footer()).empty()).select2({
                                    placeholder: '선택하세요.',
                                    allowClear: true
                                }).attr('width', '100%')
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                    );

                                    column
                                            .search(val ? '^' + val + '$' : '', true, false)
                                            .draw();
                                });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });

            var detailRows = [];
            $table.on('click', 'tr', function () {

                //$("tr.details").each(function(){
                //    $(this).removeClass('details');
                //    $(this).next().remove();
                //});

                var dt = $('#datatable-ajax').DataTable();
                var tr = $(this).closest('tr');
                var row = dt.row(tr);

                //console.log(row.data());
                //return;

                var idx = $.inArray(tr.attr('id'), detailRows);

                if (row.child.isShown()) {
                    tr.removeClass('details');
                    row.child.hide();

                    // Remove from the 'open' array
                    detailRows.splice(idx, 1);
                } else {
                    var detail = format(row.data());

                    console.log(row.data());

                    if(!detail){
                        return;
                    }

                    tr.addClass('details');
                    row.child(format(row.data())).show();

                    // Add to the 'open' array
                    if (idx === -1) {
                        detailRows.push(tr.attr('id'));
                    }
                }
            });
        }

        function format(d) {
            try{
                return d.content_type_detail;

            }catch(e){
                console.log('catch 1 : ' + e);
                return null;
            }
        }


    </script>
{% endblock %}
{% block containor %}
    <!-- start: page -->

    <section class="panel panel-featured ">
        <header class="panel-heading">
            <div><h2 class="panel-title">접속이력</h2></div>
        </header>
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">시스템</label>
                        <select name="system" id="system" class="form-control">
                            <option value="">전체</option>
                            <option value="a">Admin</option>
                            <option value="k">K-MOOC</option>
                            <option value="i">Insight</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">기능</label>
                        <select name="func" id="func" class="form-control">
                            <option value="">전체</option>
                            <!--
                            옵션을 value 순으로 작성하였으나 화면단위로 묶어서 재정렬.
                            -->

                            <option value="292">회원 정보 리스트</option>
                            <option value="291">회원 정보 상세</option>

                            <option value="3">회원정보 수정</option>

                            <option value="293">등록관리 - 베타 테스터</option>
                            <option value="309">등록관리 - 일괄 등록</option>

                            <option value="295">강좌 운영팀 관리 (게시판 관리자, 토의 진행자, 게시판 조교)</option>
                            <option value="306">강좌 운영팀 관리 (운영팀, 교수자, 베타 테스터)</option>

                            <option value="302">학습자 진도 페이지</option>
                            <option value="308">문제 풀이 횟수 설정 초기화</option>

                            <option value="298">익명 학습자 아이디 CSV 파일</option>

                            <option value="304">개인정보를 CSV 파일로 다운로드</option>
                            <option value="305">등록할 수 있는 학습자의 CSV 다운로드</option>
                            <option value="301">문제 답변 CSV 파일 다운로드</option>

                            <option value="299">발급된 이수증 조회</option>
                            <option value="300">발급된 이수증 CSV 파일</option>
                            <option value="303">등록된 학습자의 프로필 목록</option>
                            <option value="294">성적 보고서</option>
                            <option value="307">문항 성적 보고서 생성</option>
                            <option value="296">ORA 데이터 보고 생성하기</option>

                            <option value="297">파일 다운로드</option>

                        </select>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">수행 업무</label>
                        <select name="operation" id="operation" class="form-control">
                            <option value="">전체</option>
                            <option value="0">조회</option>
                            <option value="1">생성</option>
                            <option value="2">수정</option>
                            <option value="3">삭제</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-1">
                    <div class="form-group">
                        <label class="control-label">업무 내용</label>
                        <select name="func_detail" id="func_detail" class="form-control" disabled>
                            <option value="">전체</option>
                        </select>
                    </div>
                </div>

            </div>

            <br/>

            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">접속자 아이디</label>
                        <input type="text" name="user_id" id="user_id" class="form-control">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">대상자 아이디</label>
                        <input type="text" name="target_id" id="target_id" class="form-control" disabled>
                    </div>
                </div>
            </div>

            <br/>

            <div align="right">
                <a href="javascript:search();"><input class="btn btn-primary" type="button" id="searchBtn" value="검  색"></a>
            </div>
        </div>

        <div class="panel-body">
            {% load static %}
            <table class="table table-hover table-striped  table-bordered" id="datatable-ajax"
                   data-url="/manage/comm_notice" style="width: 100%;"
                   data-swf-path="{% static 'assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls.swf' %}">
                <thead>
                <tr>
                    <th>id</th>
                    <th>시스템</th>
                    <th>접속자 아이디</th>
                    <th>접속 일시</th>
                    <th>기능</th>
                    <th>수행 업무</th>
                    <th>업무 내용</th>
                    <th>대상자 아이디</th>
                    <th>검색어</th>
                    <th>건수</th>
                    <th>아이피</th>
                </tr>
                </thead>
            </table>
        </div>
    </section>
{% endblock %}