{% extends "container/main_base.html" %}
{% block pagetitlename %}로그인이력{% endblock %}
{% block pagetitlename_header %}로그인이력{% endblock %}
{% block script_down %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        (function ($) {
            $("#datepicker1, #datepicker2").datepicker();
            'use strict';
            var datatableInit = function () {

                var $table = $('#datatable1');

                $table.dataTable({
                    bProcessing: true,
                    rowReorder: true,
                    sAjaxSource: $table.data('url'),
                    "fnReloadAjax": true,
                    "fnServerParams": function (data) {
                        data.push({"name": 'method', "value": 'login_history'});
                        data.push({"name": 'system', "value": $('#choice').val()});
                        data.push({"name": 'start_date', "value": $('#datepicker1').val()});
                        data.push({"name": 'end_date', "value": $('#datepicker2').val()});
                    },
                    language: {
                        lengthMenu: "_MENU_",
                        zeroRecords: "조회된 데이터가 없습니다",
                        info: "전체페이지 _PAGE_ / _PAGES_ ( _MAX_ )",
                        infoEmpty: "조회된 데이터가 없습니다",
                        infoFiltered: "(filtered from _MAX_ total records)",
                        sEmptyTable: "조회된 데이터가 없습니다",
                        paginate: {
                            first: "처음",
                            previous: "이전",
                            next: "다음",
                            last: "끝"
                        }
                    },
                    dom: '<"toolbar"><"search"f>rt<"bottom"ip><"clear">',
                    searching: false
                });
            };


            $(function () {
                datatableInit();
            });

        }).apply(this, [jQuery]);

        $.datepicker.setDefaults({
            dateFormat: 'yy-mm-dd',
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            showMonthAfterYear: true,
            yearSuffix: '년'
        });

    function search() {
        var table = $('#datatable1').DataTable();
        table.ajax.reload();
    }

    </script>
{% endblock %}
{% block containor %}
    <!-- start: page -->
    <section class="panel panel-featured ">
        <header class="panel-heading">
            <div><h2 class="panel-title">로그인이력</h2></div>
        </header>

        <div class="panel-body" style="padding-top: 0;"> 
            <div class="row">
                <a href="javascript:search();" style="float: right; margin-right: 30px"><input class="btn btn-success"
                                                                                               type="button"
                                                                                               id="searchBtn"
                                                                                               value="검  색"></a>

                <div>
                    <b id="org_name1" style="float: left; margin: 5px 0px 0px 15px">로그인일</b> &nbsp;&nbsp;&nbsp;
                    <div class="col-sm-2">
                        <div class="form-group date">
                            <input type="text" id="datepicker1" placeholder="From"><span class="fa fa-calendar fa-2x"/>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group date">
                            <input type="text" id="datepicker2" placeholder="To"><span class="fa fa-calendar fa-2x"/>
                        </div>
                    </div>
                    <b id="org_name1" style="float: left; margin: 5px 0px 0px 0px">시스템</b> &nbsp;&nbsp;&nbsp;

                    <div class="col-sm-2">
                        <div class="form-group">
                            <select id="choice" class="form-control">
                                <option value="">선택하세요.</option>
                                <option value="01">Django 사이트</option>
                                <option value="02">관리자 사이트</option>
                                <option value="03">기관담당자 사이트</option>
                                <option value="04">강좌개발 담당자 사이트</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <br>


            <table class="table table-hover table-striped  table-bordered" data-url="/manage/login_history/"
                   id="datatable1">
                <thead>
                <tr>
                    <td>시스템</td>
                    <td>접속자아이디</td>
                    <td>로그인 일시</td>
                    <td>로그아웃 일시</td>
                    <td>아이피</td>
                </tr>
                </thead>
                <tbody id="notice_body">
                </tbody>
            </table>
        </div>
    </section>


{% endblock %}