{% extends "container/main_base.html" %}
{% block pagetitlename %}팝업추가{% endblock %}
{% block pagetitlename_header %}팝업추가{% endblock %}
{% block script_down %}
<script>

</script>


{% endblock %}
{% block containor %}
	<!-- start: page -->

<section class="panel panel-featured ">
    <header class="panel-heading">
        <div><h2 class="panel-title">팝업추가</h2></div>
    </header>

    <div class="panel-body" style="padding-top: 0;"> 
        <div class="panel-body" align="right" style="padding: 0%; margin: 0;">

            <a class="btn btn-default" id="add_notice" href="/manage/new_popup">신규등록</a>

        </div>
        {% load static %}
        <table class="table table-hover table-striped  table-bordered" id="datatable-ajax" data-url="/manage/comm_notice" style="width: 100%;" data-swf-path="{% static "assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls.swf" %}">
            <thead>
                <tr>
                    <th width="5%">No</th>
                    <th width="5%">종류</th>
                    <th width="20%">제목</th>
                    <th>등록자</th>
                    <th>게시시작일</th>
                    <th>게시종료일</th>
                    <th>링크타입</th>
                    <th>링크URL</th>
                </tr>
            </thead>
            <tbody id="notice_body">
            </tbody>
        </table>

    </div>
</section>


{% endblock %}