{% extends "container/main_base.html" %}
{% block pagetitlename %}팝업추가{% endblock %}
{% block pagetitlename_header %}팝업추가{% endblock %}
{% block script_down %}
<script>
    {% include "popup/script/popup_datatables.js" %}
</script>
{% endblock %}
{% block containor %}
	<!-- start: page -->
<section class="panel panel-featured ">
    <header class="panel-heading">
        <div><h2 class="panel-title">팝업추가</h2></div>
    </header>

    <div class="panel-body" style="padding-top: 0;"> 
        <div class="panel-body" align="right" style="padding: 0%; margin: 0;">

            <a class="btn btn-default" id="add_notice" href="/manage/create_popup">신규등록</a>

        </div>

        <table class="table table-hover table-striped  table-bordered" id="datatable33" data-url="/manage/popup_db/" style="width: 100%;" >
            <thead>
                <tr>
                    <td>No</td>
                    <td>종류</td>
                    <td>제목</td>
                    <td>등록자</td>
                    <td>게시시작일</td>
                    <td>게시종료일</td>
                    <td>링크타입</td>
                    <td>링크URL</td>
                </tr>
            </thead>
            <tbody id="notice_body">
            </tbody>
        </table>
    </div>
</section>


{% endblock %}