{% extends "container/main_base.html" %}
{% block pagetitlename %}팝업관리{% endblock %}
{% block pagetitlename_header %}팝업관리{% endblock %}
{% block script %}{% endblock %}
{% block script_down %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    </head>
    <style>
        div.date {
            float: left;
            padding: 3px;
        }
    </style>

    <script>
        {% include "popup/script/modipopup.js" %}
    </script>

{% endblock %}
{% block containor %}

    <div class="row">
        <section class="panel panel-featured ">
            <header class="panel-heading">
                <div><h2 class="panel-title">팝업관리</h2></div>
            </header>

            <body>

            </body>

            <div class="panel-body">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        종 류
                        <span class="required">*</span>
                    </label>

                    <div class="col-sm-10">
                        <form>
                            HTML <input type="radio" id="radio_1" name="radio" value="text"
                                        onclick="Display('Radio_HTML');"> &nbsp;&nbsp;
                            Image <input type="radio" id="radio_2" name="radio" value="image"
                                         onclick="Display('Radio_IMAGE');">
                        </form>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Link Type
                        <span class="required">*</span>
                    </label>

                    <div class="col-sm-10">
                        <div style="float:left ">
                            <select style="width: 150px" id="link_type" onchange="setValues();">
                                <option id="null">없음</option>
                                <option id="all_link">전체링크</option>
                                <option id="map">이미지맵</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="imagemap" style="display:none;">
                    <label class="col-sm-2 control-label">
                        이미지맵 좌표
                    </label>

                    <div class="col-sm-2">
                        <div id="location">
                            <input type="text" style="margin: 0px 0px 5px 0px;" class="form-control image_map"
                                   placeholder="0,0,100,100">
                        </div>
                        <div style="float: right;">
                            <a href="javascript:add_location();"><input class="btn btn-primary" type="button"
                                                                    id="PreviewBtn"
                                                                    value="좌표 추가"></a>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        제 목
                        <span class="required">*</span>
                    </label>

                    <div class="col-sm-10">
                        <div>
                            <input type="text" class="form-control" id="title">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        템플릿
                        <span class="required">*</span>
                    </label>

                    <div class="col-sm-10">
                        <div style="float:left ">
                            <select style="width: 150px" id="template" onchange="Reset_check();">
                                <option id="null">없음</option>
                                <option id="type1">type1</option>
                                <option id="type2">type2</option>
                                <option id="type3">type3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="Radio_HTML" style="display:none;">
                    <label class="col-sm-2 control-label">내 용 <span class="required">*</span></label>

                    <div id="summernote_content" class="col-sm-10" id="ex">
                        <div class="summernote" id="summernote"></div>
                    </div>
                </div>
                <div class="form-group" id="Radio_IMAGE" style="display:none;">
                    <label class="col-sm-2 control-label">
                        Image file
                        <span class="required">*</span>
                    </label>

                    <div class="col-sm-10">
                        <div>
                            <form action="/new_popup/" id="uploadform" method="post"
                                  enctype="multipart/form-data">
                                <input name='uploadfile' type="file" id="uploadfile"/>
                                <input name='uploadfile_user_id' type="text" value="{{ user.id }}"
                                       style="display: none"/>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="linkurl" style="display:none;">
                    <label id="linkurl" class="col-sm-2 control-label">
                        Link URL
                    </label>

                    <div class="col-sm-10">
                        <input type="text" id="link_URL" class="form-control" placeholder="https://" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Link Target
                        <span class="required">*</span>
                    </label>

                    <div class="col-sm-10">
                        <select style="width: 150px" id="link_target">
                            <option id="blank">blank</option>
                            <option id="self">self</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        게시기간
                        <span class="required">*</span>
                    </label>

                    <div class="col-sm-10">
                        <div class="form-group date"><input type="text" id="start_date" placeholder="시작날짜"><span
                                class="fa fa-calendar fa-2x"/></div>
                        <div class="date"><input type="text" id="start_time" placeholder="시작시간" value=12:00"><span
                                class="fa fa-clock-o fa-2x"/></div>
                        <div class="date"><b> ~ </b></div>
                        <div class="form-group date"><input type="text" id="end_date" placeholder="종료날짜"><span
                                class="fa fa-calendar fa-2x"/></div>
                        <div class="date"><input type="text" data-format="H:m" id="end_time" placeholder="종료시간"
                                                 value="12:00"><span class="fa fa-clock-o fa-2x"/></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        창사이즈
                        <span class="required">*</span>
                    </label>

                    <div class="col-sm-10">
                        <div class="date"><input type="text" class="form-control" id="width" placeholder="Width"
                                                 required/></div>
                        <div class="date"><input type="text" class="form-control" id="height" placeholder="Height"
                                                 required/></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        감추기
                        <span class="required">*</span>
                    </label>

                    <div class="col-sm-10">
                        <div style="float:left ">
                            <select style="width: 150px" id="hidden_day" onchange="setValues();">
                                <option id="day">1일</option>
                                <option id="week">7일</option>
                                <option id="stop">그만보기</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        사용여부
                        <span class="required">*</span>
                    </label>

                    <div class="col-sm-10">
                        <div style="float:left ">
                            <select style="width: 150px" id="use_yn">
                                <option id="use">사용함</option>
                                <option id="unuse">사용안함</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-3" align="left">
                        <a class="btn btn-default" href="/popup_add">목록으로</a>
                    </div>
                    <div class="col-sm-9" align="right">
                        <a href="javascript:del();"><input class="btn btn-danger" type="button" id="DelBtn"
                                                           style="display:none;" value="삭     제"></a>
                        <a href="javascript:preview();"><input class="btn btn-default" type="button" id="PreviewBtn"
                                                               value="미리보기"></a>
                        <a href="javascript:save();"><input class="btn btn-primary" type="button" id="SaveBtn"
                                                            value="저     장"></a>
                        <a href="javascript:copy();"><input class="btn btn-default" type="button" id="CopyBtn"
                                                            style="display:none;" value="복     사"></a>
                    </div>
                </div>
            </footer>
        </section>
    </div>

{% endblock %}