{% extends "container/main_base.html" %}
{% block pagetitlename %}팝업추가{% endblock %}
{% block pagetitlename_header %}팝업추가{% endblock %}
{% block script %}{% endblock %}
{% block script_down %}

<style>
    div.date{
        float:left;
        padding:3px;
    }
</style>
<script>
    {% include "community/script/test.js" %}
    {% include "community/script/notice.js" %}

    function Display(id)
    {
       if(id == "Radio_HTML")
       {
          document.getElementById('Radio_HTML').style.display = '';         // 보이게
          document.getElementById('Radio_IMAGE').style.display = 'none';  // 안보이게
       }
       else if(id == "Radio_IMAGE")
       {
          document.getElementById('Radio_HTML').style.display = 'none';  // 안보이게
          document.getElementById('Radio_IMAGE').style.display = '';         // 보이게
       }
    }


    function setValues() {
        var link_type = document.getElementById("link_type");

        if(link_type.options[link_type.selectedIndex].text == "없음") {
            document.getElementById('imagemap').style.display = 'none';
            document.getElementById('linkurl').style.display = 'none';
        }
        else if (link_type.options[link_type.selectedIndex].text =="전체링크") {
            document.getElementById('imagemap').style.display = 'none';
            document.getElementById('linkurl').style.display = '';
        }
        else if (link_type.options[link_type.selectedIndex].text == "이미지맵"){
            document.getElementById('imagemap').style.display = '';
            document.getElementById('linkurl').style.display = '';
        }
    }


    function save() {
        try {
            var popup_type = $("input[type=radio][name=radio]:checked").val();
            if (popup_type == "image") {
                popup_type = "I";
            }
            else if (popup_type == "text") {
                popup_type = "H";
            }

            var link_type = document.getElementById("link_type");
            if (link_type.options[link_type.selectedIndex].text == "없음") {
                link_type = "0"
            }
            else if (link_type.options[link_type.selectedIndex].text == "전체링크") {
                link_type = "1"
            }
            else if (link_type.options[link_type.selectedIndex].text == "이미지맵") {
                link_type = "2"
            }

            var image_map = $('#image_map').val();
            var title = $('#title').val();
            var image_url = $('#image_URL').val();
            var link_url = $('#link_URL').val();
            var link_target = document.getElementById("link_target");
            if (link_target.options[link_target.selectedIndex].text == "blank") {
                link_target = "B"
            }
            else if (link_target.options[link_target.selectedIndex].text == "self") {
                link_target = "S"
            }

            var start_date = $('#start_date').val();
            var start_time = $('#start_time').val();
            var end_date = $('#end_date').val();
            var end_time = $('#end_time').val();
            var template = document.getElementById("template");
            if (template.options[template.selectedIndex].text == "없음") {
                template = "0"
            }
            else if (template.options[template.selectedIndex].text == "기본") {
                template = "1"
            }
            else if (template.options[template.selectedIndex].text == "중간템플릿") {
                template = "2"
            }

            var hidden_day = document.getElementById("hidden_day");
            if (hidden_day.options[hidden_day.selectedIndex].text == "그만보기") {
                hidden_day = "0"
            }
            else if (hidden_day.options[hidden_day.selectedIndex].text == "1일") {
                hidden_day = "1"
            }
            else if (hidden_day.options[hidden_day.selectedIndex].text == "7일") {
                hidden_day = "7"
            }

            var regist_id = {{ user.id }};

            var contents = $('.summernote').summernote('code');
            var pop_id = {{ id }}

            $.post("/manage/new_popup/", {
                csrfmiddlewaretoken: $.cookie('csrftoken'),
                pop_id : pop_id,
                popup_type: popup_type,
                link_type: link_type,
                image_map: image_map,
                title: title,
                contents: contents,
                image_url: image_url,
                link_url: link_url,
                link_target: link_target,
                start_date: start_date,
                start_time: start_time,
                end_date: end_date,
                end_time: end_time,
                template: template,
                hidden_day: hidden_day,
                regist_id: regist_id,
                method: 'add',
            }).done(function (data) {
                location.href = '/manage/popup_db';
            }).fail(function (error) {
                alert('error = ' + error.responseJSON);
            });
        } catch (e) {
            alert(e);
        }
    }

</script>
{% endblock %}
{% block containor %}

    <!-- start: page -->
{#{{ user.id }}#}
<div class="row">
    <section class="panel panel-featured ">
        <header class="panel-heading">
            <div><h2 class="panel-title">팝업추가 </h2></div>
        </header>
        <div class="panel-body">
            {% csrf_token %}

             <div class="form-group">
                <label class="col-sm-2 control-label">
                    종     류
                    <span class="required">*</span>
                </label>
                <div class="col-sm-10">
                    <form>
                        HTML  <input type="radio" name="radio" value="text" onclick="Display('Radio_HTML');"> &nbsp;&nbsp;
                        Image  <input type="radio" name="radio" value="image" onclick="Display('Radio_IMAGE');">
                    </form>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Link Type
                    <span class="required">*</span>
                </label>
                <div class="col-sm-10">
                    <div style="float:left ">
                        <select style="width: 150px" id="link_type" onchange="setValues();">
                            <option id="null">없음</option>
                            <option id="all_link">전체링크</option>
                            <option id="map">이미지맵</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group" id="imagemap" style="display:none;">
                <label class="col-sm-2 control-label">
                    이미지맵 좌표
                </label>
                <div class="col-sm-2">
                    <div>
                        <input type="text" class="form-control" id="image_map" placeholder="0.0.100.100">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    제 목
                    <span class="required">*</span>
                </label>
                <div class="col-sm-10">
                    <div>
                        <input type="text" class="form-control" id="title">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    템플릿
                    <span class="required">*</span>
                </label>
                <div class="col-sm-10">
                    <div style="float:left ">
                        <select style="width: 150px" id="template" onchange="setValues();">
                            <option id="null">없음</option>
                            <option id="all_link">기본</option>
                            <option id="map">중간템플릿</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="form-group" id="Radio_HTML" style="display:none;">
                <label class="col-sm-2 control-label">내     용 <span class="required">*</span></label>
                <div id="summernote_content" class="col-sm-10">
{#                    <div class="summernote" data-plugin-summernote data-plugin-options='{ "height": 300, "codemirror": { "theme": "ambiance" }}'></div>#}
                    <div class="summernote" id="summernote"> </div>
                </div>
            </div>

            <div class="form-group" id="Radio_IMAGE" style="display:none;">
                <label class="col-sm-2 control-label">
                    Image URL
                </label>
                <div class="col-sm-10">
                    <input type="text" id="image_URL" class="form-control" required/>
                </div>
            </div>
            <div class="form-group" id="linkurl" style="display:none;">
                <label id="linkurl" class="col-sm-2 control-label">
                    Link URL
                </label>
                <div class="col-sm-10">
                    <input type="text" id="link_URL" class="form-control" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Link Target
                    <span class="required">*</span>
                </label>
                <div class="col-sm-10">
                        <select style="width: 150px" id="link_target">
                            <option id="null">blank</option>
                            <option id="all_link">self</option>
                        </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    게시기간
                    <span class="required">*</span>
                </label>
                <div class="col-sm-10">
                    <div class="date"><input type="text" class="form-control" id="start_date" placeholder="yyyymmdd" required/></div>
                    <div class="date"><input type="text" class="form-control" id="start_time" placeholder="hhmm" required/></div>
                    <div class="date"> <b> ~ </b> </div>
                    <div class="date"><input type="text" class="form-control" id="end_date" placeholder="yyyymmdd" required/></div>
                    <div class="date"><input type="text" class="form-control" id="end_time" placeholder="hhmm" required/></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    감추기
                    <span class="required">*</span>
                </label>
                <div class="col-sm-10">
                    <div style="float:left ">
                        <select style="width: 150px" id="hidden_day" onchange="setValues();">
                            <option id="null">1일</option>
                            <option id="all_link">7일</option>
                            <option id="map">그만보기</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-3" align="left">
                    <a class="btn btn-default" href="/manage/popup_add">목록으로</a>
                </div>
                <div class="col-sm-9" align="right">
                    <button class="btn btn-primary" id="notice_save" >미리보기</button>
{#                    <a href="javascript:save();"><input class="btn btn-primary" type="button" id="PreviewBtn" value="미리보기"></a>#}
                    <a href="javascript:save();"><input class="btn btn-primary" type="button" id="SaveBtn" value="저     장"></a>
                </div>
            </div>
        </footer>
    </section>
</div>

{% endblock %}