<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="http://www.lifelongedu.go.kr/css/style.css" />
<link href="http://www.lifelongedu.go.kr/css/common/popup.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="http://www.lifelongedu.go.kr/css/main_new.css?ver=1">
<!-- <link href="http://www.lifelongedu.go.kr/css/common/default.css" rel="stylesheet" type="text/css">
<link href="http://www.lifelongedu.go.kr/css/common/popup.css" rel="stylesheet" type="text/css"> -->
</head>
<body>

    <input
    type="hidden" id="openUrl" name="openUrl" value="${info.openUrl}"/>

		% if test="${info.popupDiv == 'A'}"
		    <div class="popup templet big" id="name" name="Test" display="inline">
		        <div class="pop-header">
		            <h1>${info.titleNm}</h1>
		            <a href="#" class="img-ico close" onclick="fn_move('close')">창닫기</a>
		        </div>
		        <div class="pop-body">
		            <div class="templet-top cs1">
		                <img src="http://www.lifelongedu.go.kr/images/pop_img_top01.png">
		                <h2 style="top: -55px;position: relative;">여러분의 소중한 의견을 통해<br><strong>늘배움의 발전된 모습</strong>을 보여드리겠습니다.</h2>
		            </div>
		            <div class="templet-con">
		                <p>
		                    ${info.content}
		                </p>
		            </div>
		        </div>
		        <div class="pop-btn">
		            <button type="button" class="button orange" onclick="fn_move('move')">만족도 조사 참여하기 ></button>
		        </div>
		        <div class="closechk btn-align" style="text-align: left">
	                    <span class="fleft">
	                    <input type="checkbox" id="tmp01" class="cookieBox" id="cookieBox" style="position:absolute; margin-top:1px"> <label for="tmp01"> &nbsp;&nbsp;&nbsp;&nbsp;  오늘 하루 이 창을 열지  않음</label>
                    	</span>
                    	<a href="#" class="fright" onclick="fn_move('close')" style="float: right;">닫기 X</a>
	                </div>
		    </div>
		</if>

        % if test="${info.popupDiv == 'B'}"
			<div class="popup templet small" id="name" style="display: none" >
			    <div class="pop-header">
			        <h1>공지사항</h1>
			        <a href="#" class="img-ico close" onclick="fn_move('close')">창닫기</a>
			    </div>
			    <div class="pop-body">
			        <div class="templet-top cs2">
			            <h1 style="font-size: 20px; color: #3c6674; padding: 5px" >${info.titleNm}</h1>
			        </div>
			        <div class="templet-con">
			            <p><c:out value="${info.content}" escapeXml="false" /></p>
			        </div>
			    </div>
			    <div class="pop-btn">
			        <button type="button" class="button orange" onclick="fn_move('move')">자세히 보기 ></button>
			    </div>
			    <div class="closechk btn-align" style="text-align: left">
	                    <span class="fleft">
	                    <input type="checkbox" id="tmp01" class="cookieBox" id="cookieBox" style="position:absolute; margin-top:1px"> <label for="tmp01"> &nbsp;&nbsp;&nbsp;&nbsp;  오늘 하루 이 창을 열지  않음</label>
                    	</span>
                    	<a href="#" class="fright" onclick="fn_move('close')" style="float: right;">닫기 X</a>
	                </div>
			</div>
		</if>

		% if test="${info.popupDiv == 'C'}"
			<div class="popup templet" id="imgbox" id="name" style="display: none">
     			<p style="text-align: center">
		            <a target="_blank" href="${info.openUrl}">
		                <img src="${info.popupImg eq '' ? 'http://www.kmooc.kr/static/images/banner_course_2016.jpg' : info.popupImg}" alt="팝업 이미지" id="img">
		            </a>
		        </p>
		        <div class="closechk btn-align" style="text-align: left; margin-top: -3px; " >
	                    <span class="fleft">
	                    <input type="checkbox" id="tmp01" class="cookieBox" id="cookieBox" style="position:absolute; margin-top:1px"> <label for="tmp01"> &nbsp;&nbsp;&nbsp;&nbsp;  오늘 하루 이 창을 열지  않음</label>
                    	</span>
                    	<a href="#" class="fright" onclick="fn_move('close')" style="float: right;">닫기 X</a>
	                </div>
    		</div>
		</if>
</body>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
var popDiv = '${info.popupDiv}';
var boxWid = '';
var boxHei = '';

$().ready(function(){
		var imgWid = $('#img').outerWidth();
		$('#imgbox').css('width', imgWid);

		boxWid = $('#imgbox').outerWidth() + (window.outerWidth - window.innerWidth);
		boxHei = $('#imgbox').outerHeight() + (window.outerHeight - window.innerHeight);
		window.resizeTo(boxWid, boxHei);

});

function fn_move(moveGbn){
	if(moveGbn == 'close')			window.open('', '_self').close();
	else if(moveGbn == 'move')		location.href = $('#openUrl').val();
}

var win;
function resizeWindow(win)    {
	 var winBody = win.document.body;

	  //
	  // 새창의 사이즈에 더해줄 marginWidth와 marginHeight
	  //
	  var marginHeight = parseInt(winBody.topMargin)+parseInt(winBody.bottomMargin);
	  var marginWidth = parseInt(winBody.leftMargin)+parseInt(winBody.rightMargin);
	  //
	  // 새창의 사이즈 설정
	  //
	  var wid = winBody.scrollWidth + (winBody.offsetWidth - winBody.clientWidth) + marginWidth-5;
	  var hei = winBody.scrollHeight + (winBody.offsetHeight - winBody.clientHeight) + marginHeight+17;
	  //
	  // 사이즈 재조정
	  //
	  win.resizeTo(500, 500);

}


window.onload = function(){

	resizeWindow(this);
};


</script>
