{% extends "container/main_base.html" %}
{% block pagetitlename %}팝업추가{% endblock %}
{% block pagetitlename_header %}팝업추가{% endblock %}
{% block script %}{% endblock %}
{% block script_down %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{#    <link rel="stylesheet" type="text/css" href="http://www.lifelongedu.go.kr/css/style.css" />#}
    <link href="http://www.lifelongedu.go.kr/css/common/popup.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://www.lifelongedu.go.kr/css/main_new.css?ver=1">
    <!-- <link href="http://www.lifelongedu.go.kr/css/common/default.css" rel="stylesheet" type="text/css">
    <link href="http://www.lifelongedu.go.kr/css/common/popup.css" rel="stylesheet" type="text/css"> -->
</head>
<style>

    div.date{
        float:left;
        padding:3px;
    }
    #Popup_0{
        position: absolute;
        z-index: 1;
        background-color: white;
    }
    #Popup_1{
        position: absolute;
        z-index: 1;
        background-color: white;
    }
    #Popup_2{
        position: absolute;
        z-index: 1;
        background-color: white;
    }

</style>
<script>
	{% include "popup/script/modipopup.js" %}
</script>
{% endblock %}
{% block containor %}

    <!-- start: page -->
{#{{ user.id }}#}
<div class="row">
    <section class="panel panel-featured ">
        <header class="panel-heading">
            <div><h2 class="panel-title">팝업추가</h2></div>
        </header>
{#        ================================================================#}
        <body>
            <div class="popup templet" id="Popup_0" style="display: none">
     			<p style="text-align: center" >
		            <a id="pop_0" target="_blank" href="">
		                <img src="" alt="팝업 이미지" id="IMG">
		            </a>
		        </p>
                <div class="templet-con">
                    <p id = "CONTENTS_0">
                        contents
                    </p>
                </div>
		        <div class="closechk btn-align" style="text-align: left; margin-top: -3px; " >
	                    <span class="fleft">
	                    <input type="checkbox" id="tmp01" class="cookieBox" id="cookieBox" style="position:absolute; margin-top:1px"> <label for="tmp01"> &nbsp;&nbsp;&nbsp;&nbsp;  오늘 하루 이 창을 열지  않음</label>
                    	</span>
                    	<a class="fright" onclick="fn_move('close')" style="float: right;">닫기 X</a>
                </div>
    		</div>


            <div class="popup templet small" id="Popup_1" style="display: none" >
			    <div class="pop-header">
			        <h1>공지사항</h1>
			        <a class="img-ico close" onclick="fn_move('close')">창닫기</a>
			    </div>
			    <div class="pop-body">
			        <div class="templet-top cs2">
			            <h1 style="font-size: 20px; color: #3c6674; padding: 5px" id="TITLE_1" > title </h1>
			        </div>
			        <div class="templet-con" style="background-color: white">
			            <p id = "CONTENTS_1"> contents </p>
			        </div>
			    </div>
			    <div class="pop-btn" style="background-color: white">
			        <a id="pop_1"><button type="button" class="button orange" onclick="fn_move('move')">자세히 보기 ></button></a>
			    </div>
			    <div class="closechk btn-align" style="text-align: left">
	                    <span class="fleft">
	                    <input type="checkbox" id="tmp01" class="cookieBox" id="cookieBox" style="position:absolute; margin-top:1px"> <label for="tmp01"> &nbsp;&nbsp;&nbsp;&nbsp;  오늘 하루 이 창을 열지  않음</label>
                    	</span>
                    	<a class="fright" onclick="fn_move('close')" style="float: right;">닫기 X</a>
	                </div>
            </div>



            <div class="popup templet big" id="Popup_2" style="display: none">
		        <div class="pop-header">
		            <h1 id="TITLE_2" >title</h1>
		            <a class="img-ico close" onclick="fn_move('close')">창닫기</a>
		        </div>
		        <div class="pop-body">
		            <div class="templet-top cs1">
		                <img src="http://www.lifelongedu.go.kr/images/pop_img_top01.png">
		                <h2 style="top: -55px;position: relative;">여러분의 소중한 의견을 통해<br><strong>늘배움의 발전된 모습</strong>을 보여드리겠습니다.</h2>
		            </div>
		            <div class="templet-con">
		                <p id = "CONTENTS_2">
		                    contents
		                </p>
		            </div>
		        </div>
		        <div class="pop-btn">
		            <a id = "pop_2"><button type="button" class="button orange" onclick="fn_move('move')">만족도 조사 참여하기 ></button></a>
		        </div>
		        <div class="closechk btn-align" style="text-align: left">
	                    <span class="fleft">
	                    <input type="checkbox" id="tmp01" class="cookieBox" id="cookieBox" style="position:absolute; margin-top:1px"> <label for="tmp01"> &nbsp;&nbsp;&nbsp;&nbsp;  오늘 하루 이 창을 열지  않음</label>
                    	</span>
                    	<a class="fright" onclick="fn_move('close')" style="float: right;">닫기 X</a>
	                </div>
		    </div>
        </body>

        <div class="panel-body">
            {% csrf_token %}

             <div class="form-group">
                <label class="col-sm-2 control-label">
                    종     류
                    <span class="required">*</span>
                </label>
                <div class="col-sm-10">
                    <form>
                        HTML  <input type="radio" id="radio_1" name="radio" value="text" onclick="Display('Radio_HTML');"> &nbsp;&nbsp;
                        Image  <input type="radio" id="radio_2" name="radio" value="image" onclick="Display('Radio_IMAGE');">
                    </form>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Link Type
                    <span class="required">*</span>
                </label>
                <div class="col-sm-10">
                    <div style="float:left ">
                        <select style="width: 150px" id="link_type" onchange="setValues();">
                            <option id="null">없음</option>
                            <option id="all_link">전체링크</option>
                            <option id="map">이미지맵</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group" id="imagemap" style="display:none;">
                <label class="col-sm-2 control-label">
                    이미지맵 좌표
                </label>
                <div class="col-sm-4">
                    <div>
                        <input type="text" class="form-control" id="image_map" placeholder="0.0.100.100/100,0,200,200/...">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    제 목
                    <span class="required">*</span>
                </label>
                <div class="col-sm-10">
                    <div>
                        <input type="text" class="form-control" id="title">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    템플릿
                    <span class="required">*</span>
                </label>
                <div class="col-sm-10">
                    <div style="float:left ">
                        <select style="width: 150px" id="template" onchange="Reset();">
                            <option id="null">없음</option>
                            <option id="all_link">기본</option>
                            <option id="map">중간템플릿</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="form-group" id="Radio_HTML" style="display:none;">
                <label class="col-sm-2 control-label">내     용 <span class="required">*</span></label>
                <div id="summernote_content" class="col-sm-10">
{#                    <div class="summernote" data-plugin-summernote data-plugin-options='{ "height": 300, "codemirror": { "theme": "ambiance" }}'></div>#}
                    <div class="summernote" id="summernote"> </div>
                </div>
            </div>

            <div class="form-group" id="Radio_IMAGE" style="display:none;">
                <label class="col-sm-2 control-label">
                    Image URL
                </label>
                <div class="col-sm-10">
                    <div>
                        <form action="/manage/new_popup/" id="uploadform" method="post" enctype="multipart/form-data">
                            <input name='uploadfile' type="file" id="uploadfile"/>
                            <input name='uploadfile_user_id' type="text" value="{{ user.id }}" style="display: none"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="form-group" id="linkurl" style="display:none;">
                <label id="linkurl" class="col-sm-2 control-label">
                    Link URL
                </label>
                <div class="col-sm-10">
                    <input type="text" id="link_URL" class="form-control" placeholder="https://" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Link Target
                    <span class="required">*</span>
                </label>
                <div class="col-sm-10">
                        <select style="width: 150px" id="link_target">
                            <option id="null">blank</option>
                            <option id="all_link">self</option>
                        </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    게시기간
                    <span class="required">*</span>
                </label>
                <div class="col-sm-10">
                    <div class="date"><input type="text" class="form-control" id="start_date" placeholder="yyyymmdd" required/></div>
                    <div class="date"><input type="text" class="form-control" id="start_time" placeholder="hhmm" required/></div>
                    <div class="date"> <b> ~ </b> </div>
                    <div class="date"><input type="text" class="form-control" id="end_date" placeholder="yyyymmdd" required/></div>
                    <div class="date"><input type="text" class="form-control" id="end_time" placeholder="hhmm" required/></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    창사이즈
                </label>
                <div class="col-sm-10">
                    <div class="date"><input type="text" class="form-control" id="width" placeholder="Width" required/></div>
                    <div class="date"><input type="text" class="form-control" id="height" placeholder="Height" required/></div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    감추기
                    <span class="required">*</span>
                </label>
                <div class="col-sm-10">
                    <div style="float:left ">
                        <select style="width: 150px" id="hidden_day" onchange="setValues();">
                            <option id="null">1일</option>
                            <option id="all_link">7일</option>
                            <option id="map">그만보기</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    사용여부
                    <span class="required">*</span>
                </label>
                <div class="col-sm-10">
                    <div style="float:left ">
                        <select style="width: 150px" id="use_yn">
                            <option id="null">사용함</option>
                            <option id="all_link">사용안함</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-3" align="left">
                    <a class="btn btn-default" href="/manage/popup_add">목록으로</a>
                </div>
                <div class="col-sm-9" align="right">
                    <a href="javascript:del();"><input class="btn btn-default" type="button" id="DelBtn" style="display:none;" value="삭     제"></a>
                    <a href="javascript:preview();"><input class="btn btn-primary" type="button" id="PreviewBtn" value="미리보기"></a>
                    <a href="javascript:save();"><input class="btn btn-primary" type="button" id="SaveBtn" value="저     장"></a>
                    <a href="javascript:copy();"><input class="btn btn-primary" type="button" id="CopyBtn" style="display:none;" value="복     사"></a>
                </div>
            </div>
        </footer>
    </section>
</div>

{% endblock %}