<!DOCTYPE html>

<html class="fixed" lang="ko">
	<head>

		<title>{% block title %}{% endblock %}</title>
		<!-- utf-8 encoding setting -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<!-- setting for mobile view -->

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">


		<!--<meta name="apple-mobile-web-app-capable" content="yes">-->
		<!--<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
		<!--<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">-->



		{% load staticfiles %}

		<!-- Mobile Metas -->
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />-->

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href='{%static "assets/vendor/bootstrap/css/bootstrap.css"%}' />

		<!--<link rel="stylesheet" href='{%static "assets/vendor/font-awesome/css/font-awesome.css"%}' />-->
		<!--<link rel="stylesheet" href='{%static "assets/vendor/magnific-popup/magnific-popup.css"%}' />-->
		<!--<link rel="stylesheet" href='{%static "assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css"%}' />-->

		<!-- Theme CSS -->
		<link rel="stylesheet" href='{%static "assets/stylesheets/theme.css"%}' />

		<!-- Skin CSS -->
		<link rel="stylesheet" href='{%static "assets/stylesheets/skins/default.css"%}' />

		<!-- Theme Custom CSS -->
		<!--<link rel="stylesheet" href='{%static "assets/stylesheets/theme-custom.css"%}'>-->


		<!-- Head Libs -->
		<script src='{%static "assets/vendor/modernizr/modernizr.js"%}'></script>

		<!-- Theme Custom -->
		<script src='{%static "assets/javascripts/theme.custom.js"%}'></script>

		{% load staticfiles %}
		<!--jquery setting -->
		<script src='{% static "jquery/1.11.2/jquery-1.11.2.min.js" %}'></script>
		<script src='{% static "cookie/1.4.1/jquery.cookie.js" %}'></script>

		<!-- boostrap setting -->
        <!--<link rel="stylesheet" href='{% static "bootstrap/3.1.1/css/bootstrap.min.css" %}'>-->
		<!--<link href="data:text/css;charset=utf-8," data-href='{% static "main_home/bootstrap/3.1.1/css/bootstrap-theme.min.css" %}' rel="stylesheet" id="bs-theme-stylesheet">-->
        <!--<script src='{% static "bootstrap/3.1.1/js/bootstrap.min.js" %}'></script>-->
		<script src='{%static "assets/vendor/bootstrap/js/bootstrap.js" %}'></script>


		{% block link %}{% endblock %}


	<style>
			.navbar-brand {
				margin-top:-10px;
			}
			#wrap{
				min-height:100%;
			}
			body>#wrap>.container{
				padding-bottom:3em;
			}
			html, body {
				height:100%;
			}
			footer {
			    /*position: absolute;*/
			    /*bottom: 0;*/
			    width: 100%;
			    height: 3em;
			    margin-top:-3em;
			    /*background-color: #f5f5f5;*/
			}
			hr {
				margin-top:5px;
				margin-bottom:5px;
				border-top: 1px solid black;
			}
		</style>


		{% block style %}{% endblock %}
		{% block script %}{% endblock %}
	</head>
	<body>
		<div id="wrap" >
		{% block navbar %}
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#home">
						{% block nav_brand %}
						<img src="https://s3-ap-northeast-1.amazonaws.com/kriea/kice/ci_small3.png" width="180px" />
						{% endblock %}
					</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						{% block nav_list %}{% endblock %}
					</ul>
				</div>
			</div>
		</nav>
		{% endblock %}
		{% block contents %}{% endblock %}
		</div>


	</body>
</html>

