{% extends "container/main_base.html" %}
{% block pagetitlename %}강좌 관리{% endblock %}
{% block pagetitlename_header %}강좌 관리{% endblock %}
{% block script_down %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" />
<script>

jQuery.ajaxSettings.traditional = true;
    $(document).ready(function() {
        setDataTable1();
    });


    function setDataTable1() {
        var $table = $('#datatable1');

        $table.dataTable({
            "scrollY": "400px",
            "scrollX": "400px",
			bProcessing: true,
			rowReorder: true,
            "searching": false,
			sAjaxSource: $table.data('url'),
			//sDom: "<T>"+'B<"toolbar"><"search"f>rt<"bottom"ip><"clear">',
			//sDom: 'T<"clear">lfrtip',
			"fnReloadAjax": true,
			"fnServerParams": function ( data ) {
				 data.push({ "name": 'method', "value": 'course_list'});
			},


			dom: '<"toolbar"><"search"f>rt<"bottom"ip><"clear">',

			"paginate": false,
			"columnDefs":[
                {
                    targets: 0, visible: true, name: "pk", render: function (data, type) {
                    return '<input type="checkbox" name="' + data + '" value="' + data + '">';
                }, width:'8%'
                },
			],

			"initComplete": function(settings, json){
			}
		});
    }

    $.datepicker.setDefaults({
    dateFormat: 'yy-mm-dd',
    prevText: '이전 달',
    nextText: '다음 달',
    monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    dayNames: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
    showMonthAfterYear: true,
    yearSuffix: '년'
  });

  $(function() {
    $("#datepicker1, #datepicker2").datepicker();
  });


    function checked_all() {
        console.log($("#check_all").is(":checked"));

        if ($("#check_all").is(":checked")) {
            $("#datatable1 tbody input[type=checkbox]:visible").prop("checked", true);
        } else {
            $("#datatable1 tbody input[type=checkbox]:visible").prop("checked", false);
        }
    }

    function search() {
        var a = $('#datepicker1').val();
        var b = $('#datepicker2').val();
        var c = $('#course_name').val();
        var choice = document.getElementById("choice");
        alert(a);
        alert(b);
        alert(c);
        alert(choice.options[choice.selectedIndex].value);
    }
</script>
{% endblock %}
{% block containor %}
	<!-- start: page -->
<section class="panel panel-featured ">
    <header class="panel-heading">
        <div><h2 class="panel-title">강좌 관리</h2></div>
    </header>

    <div class="panel-body" style="padding-top: 0;"> 
        <div class="row">
            <a href="javascript:search();" align="right"><input class="btn btn-primary" type="button" id="searchBtn" value="검  색"></a>
            <div class="col-sm-2">
                <div class="form-group">
                    <select id="choice" class="form-control">
                        <option value="">선택하세요.</option>
                        <option value="1">수강신청 시작일, 종료일</option>
                        <option value="2">개강일, 종강일</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <input type="text" id="datepicker1" class="form-control"><span class="fa fa-calendar fa-2x"/>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <input type="text" id="datepicker2" class="form-control"><span class="fa fa-calendar fa-2x"/>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label">강좌명</label>
                    <input type="text" id="course_name" class="form-control">
                </div>
            </div>
        </div>
        <br>

        <table class="table table-hover table-striped  table-bordered" data-url="/manage/course_db/" id="datatable1" style="width: 100%;" >
            <thead>
                <tr>
                    <td><input type="checkbox" onclick="checked_all()" id="check_all"/></td>
                    <td>NO</td>
                    <td>개발유형</td>
                    <td>개발년도</td>
                    <td>회차</td>
                    <td>대학명</td>
                    <td>대분류</td>
                    <td>중분류</td>
                    <td>강좌명</td>
                    <td>기관번호</td>
                    <td>강좌번호</td>
                    <td>강좌별운영번호</td>
                    <td>상태</td>
                    <td>개설일</td>
                    <td>수강신청시작일</td>
                    <td>수강신청마감일</td>
                    <td>종강일</td>
                    <td>이수증생성일</td>
                    <td>교수자</td>
                    <td>동영상재생시간</td>
                    <td>주간학습권장시간</td>
                    <td>총주차</td>
                    <td>총학습시간</td>
                    <td>강좌수준</td>
                </tr>
            </thead>
            <tbody id="notice_body">
            </tbody>
        </table>
    </div>
</section>


{% endblock %}