{% extends "container/main_base.html" %}
{% block pagetitlename %}개인별 이수증 발급 현황{% endblock %}
{% block pagetitlename_header %}개인별 이수증 발급 현황{% endblock %}
{#{% block script_down %}#}
{#<script>#}
{#	{% include "tch/script/modify_auth.js" %}#}
{#	{% include "tch/script/input_answer.js" %}#}
{#</script>#}
{#{% endblock %}#}
{% block containor %}
	<!-- start: page -->

<section class="panel panel-featured ">
    <header class="panel-heading">
        <div><h2 class="panel-title">개인별 이수증 발급 현황</h2></div>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4" align="center">
                대학명 &nbsp;&nbsp;&nbsp;
                <select style="width: 100px">
                    <option>선택하세요</option>
                </select>
            </div>
            <div class="col-md-4" align="center">
                강좌명&nbsp;&nbsp;&nbsp;
                <select style="width: 200px">
                    <option>선택하세요</option>
                </select>
            </div>
            <div class="col-md-4" align="center">
                기관별 강좌번호&nbsp;&nbsp;&nbsp;
                <select style="width: 100px">
                    <option>선택하세요</option>
                </select>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-md-6" align="center">
                이메일 검색 &nbsp;&nbsp;&nbsp;
                <input type="text" size="30px">
            </div>
            <div class="col-md-6" align="right">
                <input class="btn btn-primary" type="button" value="검  색">
                <input class="btn btn-success" type="button" value="엑셀다운로드">
            </div>
        </div>
    </div>
    <div class="panel-body" >
        <table class="table table-hover table-striped table-primary table-bordered" >
            <thead>
                <tr>
                    <td>No</td>
                    <td>학습자 성명</td>
                    <td>이메일</td>
                    <td>대학명</td>
                    <td>강좌명</td>
                    <td>기관별 강좌번호</td>
                    <td>이수증 발급여부</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>홍길동</td>
                    <td>test@test.com</td>
                    <td>한양대학교</td>
                    <td>건축공간론</td>
                    <td>2016_C1</td>
                    <td>미발급</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>홍길순</td>
                    <td>test1@test.com</td>
                    <td>한양대학교</td>
                    <td>건축공간론</td>
                    <td>2016_C1</td>
                    <td>발급</td>
                </tr>
            </tbody>
        </table>

        <br/>

        <center>
        <div>
            <input class="btn btn-primary" type="button" value="이수증 검색">
        </div>
        </center>
    </div>



</section>




{% endblock %}