{% extends "container/main_base.html" %}
{% block pagetitlename %}대학별 이수증 발급 현황{% endblock %}
{% block pagetitlename_header %}대학별 이수증 발급 현황{% endblock %}
{% block script_down %}
    <script>
        {% include "certificate/script/uni_certifiate.js" %}
        {% include "certificate/script/uni_certi.datatables.ajax.js" %}
    </script>
{% endblock %}
{% block containor %}
    <!-- start: page -->

    <section class="panel panel-featured ">
        <header class="panel-heading">
            <div><h2 class="panel-title">대학별 이수증 발급 현황</h2></div>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5" align="center">
                    대학명 &nbsp;&nbsp;&nbsp;
                    <select id="org" style="width: 120px">
                        <option>선택하세요</option>
                    </select>
                </div>
                <div class="col-md-7" align="center">
                    강좌명&nbsp;&nbsp;&nbsp;
                    <select id="course" style="width: 350px ">
                        <option>선택하세요</option>
                    </select>
                </div>
                {#            <div class="col-md-4" align="center">#}
                {#                기관별 강좌번호&nbsp;&nbsp;&nbsp;#}
                {#                <select id="run" style="width: 110px">#}
                {#                    <option>선택하세요</option>#}
                {#                </select>#}
                {#            </div>#}
            </div>

            <br/>


            <div align="right">
                <input class="btn btn-primary" type="button" value="검  색" id="uni_search">
                {#            <input class="btn btn-success" type="button" value="엑셀다운로드">#}
            </div>

        </div>

        <div class="panel-body" style="padding-top: 0;">
            <hr/>
            {% load static %}
            <table class="table table-hover table-striped table-primary table-bordered" id="datatable-ajax" data-url=""
                   style="width: 100%;"
                   data-swf-path="{% static "assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls.swf" %}">
                <thead>
                <tr>
                    <td width="">대학명</td>
                    <td width="">강좌명</td>
                    <td width="">기관별 강좌번호</td>
                    <td width="">종강일자</td>
                    <td width="">이수증 생성일자</td>
                    <td width="">수강 신청자수</td>
                    <td width="">이수자</td>
                    <td width="">미이수자</td>
                    <td width="">아수율</td>
                    {#                    <td width="">학습 참여자</td>#}
                    {#                    <td width="">참여율</td>#}
                    {#                    <td width="">학습 참여자 대비 이수율</td>#}
                    <td>이수증 생성</td>
                </tr>
                </thead>
                <tbody id="uni_body">
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}