{% extends "container/main_base.html" %}
{% block pagetitlename %}시리즈 강좌{% endblock %}
{% block pagetitlename_header %}시리즈 강좌{% endblock %}
{% block script %}{% endblock %}
{% block script_down %}

    <!-- sweat alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        {% include "series_course/script/modi_series_course.js" %}
    </script>
{% endblock %}
{% block containor %}

    <!-- start: page -->
    {#{{ user.id }}#}
    <div class="row">
        <section class="panel panel-featured ">
            <header class="panel-heading">
                <div><h2 class="panel-title">시리즈 강좌</h2></div>
            </header>
            {#        ================================================================#}

            <div class="panel-body">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        시리즈 ID
                        <span class="required">*</span>
                    </label>

                    <div class="col-sm-10">
                        <div>
                            <input type="text" class="form-control" id="series_id">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        시리즈 명
                        <span class="required">*</span>
                    </label>

                    <div class="col-sm-10">
                        <div>
                            <input type="text" class="form-control" id="series_name">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        썸네일 img
                        <span class="required">*</span>
                    </label>

                    <div class="col-sm-4">
                        <div>
                            <form action="/modi_series_course/" id="uploadform" method="post"
                                  enctype="multipart/form-data">
                                <input name='uploadfile' type="file" id="sumnail_file_id" onchange="fileCheck(this)"
                                       accept="image/gif,image/jpeg,image/png"/>
                                <input name='uploadfile_user_id' type="text" value="{{ user.id }}"
                                       style="display: none"/>
                            </form>
                        </div>
                        <a id="file_down" download></a>
                    </div>
                </div>

                <div class="form-group" id="Radio_HTML">
                    <label class="col-sm-2 control-label">시리즈 강좌 소개<span class="required">*</span></label>

                    <div id="summernote_content" class="col-sm-10" id="note">
                        <div class="summernote" id="summernote"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        공개여부
                        <span class="required">*</span>
                    </label>

                    <div class="col-sm-10">
                        <form>
                            공개 <input type="radio" id="radio_1" name="radio" value="Y"> &nbsp;&nbsp;
                            미공개 <input type="radio" id="radio_2" name="radio" value="N">
                        </form>
                    </div>
                </div>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-3" align="left">
                        <a class="btn btn-default" href="/series_course/">목록으로</a>
                    </div>
                    <div class="col-sm-9" align="right">
                        <a href="javascript:Del();"><input class="btn btn-danger" type="button" id="DelBtn"
                                                           value="삭     제"></a>
                        <a href="javascript:save();"><input class="btn btn-primary" type="button" id="SaveBtn"
                                                            value="저     장"></a>
                    </div>
                </div>
            </footer>
        </section>
    </div>

{% endblock %}
