{% extends "container/main_base.html" %}
{% block pagetitlename %}시리즈 강좌{% endblock %}
{% block pagetitlename_header %}시리즈 강좌{% endblock %}
{% block script_down %}
    <script>
        {% include "series_course/script/series_course_datatables.js" %}
    </script>
{% endblock %}
{% block containor %}
    <!-- start: page -->
    <section class="panel panel-featured ">
        <header class="panel-heading">
            <div><h2 class="panel-title">시리즈 강좌</h2></div>
        </header>
        <div class="panel-body" style="padding-top: 0;"> 
            <div class="panel-body" align="right" style="padding: 0%; margin: 0;">
                <a class="btn btn-default" href="/modi_series_course">신규등록</a>
            </div>
            <div style="float:right; margin-right:10px"><b>행 클릭시 세부내용 수정 가능.</b></div>
            <table class="table table-hover table-striped  table-bordered" id="datatable1"
                   data-url="/multi_site_db/" style="width: 100%;">
                <thead>
                <tr>
                    <td>No</td>
                    <td>시리즈 아이디</td>
                    <td>시리즈 강좌명</td>
                    <td>구성 강좌수</td>
                    <td>총 동영상 재생시간</td>
                    <td>총 학습시간</td>
                    <td>이수현황</td>
                    <td>강좌관리</td>
                </tr>
                </thead>
                <tbody id="notice_body">
                </tbody>
            </table>
        </div>
    </section>


{% endblock %}