{% extends "container/main_base.html" %}
{% block pagetitlename %}시리즈 강좌{% endblock %}
{% block pagetitlename_header %}시리즈 강좌{% endblock %}
{% block script_down %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        {% include "series_course/script/series_complete_list_datatables.js" %}
    </script>
{% endblock %}
{% block containor %}
    <!-- start: page -->
    <section class="panel panel-featured ">
        <header class="panel-heading">
            <div><h2 class="panel-title">시리즈 강좌 이수현황</h2></div>
        </header>


        <div class="panel-body" style="padding-top: 0;"> 
            <h4>강좌명 : {{ name }}</h4><br><br>
            <table class="table table-hover table-striped  table-bordered" data-url="/series_complete_db/"
                   id="datatable1">
                <thead>
                <tr>
                    <td>NO</td>
                    <td>강좌명</td>
                    <td>Course id</td>
                    <td>이름</td>
                    <td>영문아이디</td>
                    <td>이수번호</td>
                    <td>이수일</td>
                </tr>
                </thead>
                <tbody id="notice_body">
                </tbody>
            </table>
        </div>
    </section>


{% endblock %}