<!DOCTYPE html>
<head>
    <title>K-MOOC 통계관리</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <style>
        #header {
            border-bottom: 5px solid blue;
            width: 300px;
        }
        #main {
            margin-top: 30px;
            font-weight: bold;
        }
    </style>

    <script>

    var dateObj = new Date();
    var year = dateObj.getFullYear();
    var month = dateObj.getMonth()+1;
    var day = dateObj.getDate();

    if (month < 10) {
        month = '0'+ month
                  }
    if (day < 10) {
        day = '0'+ day
                  }
    var today = year+""+month+""+day;

    $(function() {

        // calendar setting
        $( "#datepicker1" ).datepicker({
        minDate: new Date(2015, 10 - 1, 14),
        maxDate: "+0m +0w -1d",
        dateFormat: 'yymmdd',
        prevText: '이전 달',
        nextText: '다음 달',
        monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
        monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
        dayNames: ['일','월','화','수','목','금','토'],
        dayNamesShort: ['일','월','화','수','목','금','토'],
        dayNamesMin: ['일','월','화','수','목','금','토'],
        showMonthAfterYear: true,
        yearSuffix: '년'
        });

        // calendar setting
        $( "#datepicker3" ).datepicker({
        minDate: new Date(2015, 10 - 1, 14),
        maxDate: "+0m +0w -1d",
        dateFormat: 'yymmdd',
        prevText: '이전 달',
        nextText: '다음 달',
        monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
        monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
        dayNames: ['일','월','화','수','목','금','토'],
        dayNamesShort: ['일','월','화','수','목','금','토'],
        dayNamesMin: ['일','월','화','수','목','금','토'],
        showMonthAfterYear: true,
        yearSuffix: '년',
        beforeShowDay: function(date){
            return [date.getDate() == 13, ''];
        }
        });

        // teset
        console.log('{{ courseInfo }}')
    });

    function excelDonwload(){
{#        console.log('=============================');#}
{#        console.log($("#datepicker1").val());#}
{#        console.log(today);#}

        if($("#datepicker1").val() == ""){
            alert('날짜를 선택하세요.');
            return;
        }

        $("#download").find("img").show();
        $.ajax({
            url: "/manage/excel_download/" + $("#datepicker1").val()
        })
        .done(function( data ) {
            alert('파일 생성 완료!');
            $("#download").prop("href", data);
            $("#downloadBtn").click();
            $("#download").find("img").hide();
        });
     }

    function excelDonwload2(){

        $("#download2").find("img").show();
        $.ajax({
            url: "/manage/excel_download2/" + $("#courseId").val()
        })
        .done(function( data ) {
            alert('파일 생성 완료!');
            $("#download2").prop("href", data);
            $("#downloadBtn2").click();
            $("#download2").find("img").hide();
        });
     }

    function excelDonwload3(){

        $("#download3").find("img").show();
        $.ajax({
            url: "/manage/excel_download3/" + $("#datepicker3").val()
        })
        .done(function( data ) {
            alert('파일 생성 완료!');
            $("#download3").prop("href", data);
            $("#downloadBtn3").click();
            $("#download3").find("img").hide();
        });
     }




    </script>
</head>
<body>
{% load staticfiles %}
<div id="header">
    <h1>K-MOOC 통계 관리</h1>
</div>
<div id="main">
    <form>
        일일통계 : <input type="text" style="width: 65px;" id="datepicker1" readonly>
        <input type="button" id="excel_down" value="다운로드" onclick="excelDonwload();">
        <a href="#" id="download" ><span id="downloadBtn" style="display: none;">download</span><img src="{% static "image/progress.gif" %}" style="display: none; width:20px; vertical-align: middle;"/></a>

        <hr/>
        월별통계 : <input type="text" style="width: 65px;" id="datepicker3" readonly>
        <input type="button" id="excel_down" value="다운로드" onclick="excelDonwload3();">
        <a href="#" id="download3" ><span id="downloadBtn3" style="display: none;">download</span><img src="{% static "image/progress.gif" %}" style="display: none; width:20px; vertical-align: middle;"/></a>


        <hr/>
        이수증<br/> 결과확인 :
        <select id="courseId">
            {% for key, value in courseInfo %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}

        </select>
        <input type="button" id="excel_down2" value="다운로드" onclick="excelDonwload2();">
        <a href="#" id="download2" ><span id="downloadBtn2" style="display: none;">download</span><img src="{% static "image/progress.gif" %}" style="display: none; width:20px; vertical-align: middle;"/></a>

    </form>



</div>
</body>
</html>
