<!DOCTYPE html>
<head>
    <title>K-MOOC 통계관리</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/manage/static/css/layout2.css">
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <script>

        var dateObj = new Date();
        var year = dateObj.getFullYear();
        var month = dateObj.getMonth()+1;
        var day = dateObj.getDate();

        if (month < 10) {
            month = '0'+ month
                      }
        if (day < 10) {
            day = '0'+ day
                      }
        var today = year+""+month+""+day;

        $(function() {
            ajaxSetup();
            leftEvent();
            viewContent();
            setCalendar();
            setTimeSelect();

            // calendar setting
            $( "#datepicker1" ).datepicker({
            minDate: new Date(2015, 10 - 1, 14),
            maxDate: "+0m +0w -1d",
            dateFormat: 'yymmdd',
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
            monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
            dayNames: ['일','월','화','수','목','금','토'],
            dayNamesShort: ['일','월','화','수','목','금','토'],
            dayNamesMin: ['일','월','화','수','목','금','토'],
            showMonthAfterYear: true,
            yearSuffix: '년'
            });

            // calendar setting
            $( "#datepicker3" ).datepicker({
            minDate: new Date(2015, 10 - 1, 14),
            maxDate: "+0m +0w -1d",
            dateFormat: 'yymmdd',
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
            monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
            dayNames: ['일','월','화','수','목','금','토'],
            dayNamesShort: ['일','월','화','수','목','금','토'],
            dayNamesMin: ['일','월','화','수','목','금','토'],
            showMonthAfterYear: true,
            yearSuffix: '년',
            beforeShowDay: function(date){
                return [date.getDate() == 13, ''];
            }
            });
        });

        function setCalendar(){
            // calendar setting
            $( "input[name=sDate], input[name=eDate]" ).datepicker({
            minDate: new Date(),
            dateFormat: 'yymmdd',
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
            monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
            dayNamesMin: ['일','월','화','수','목','금','토'],
            showMonthAfterYear: true,
            yearSuffix: '년'
            });
        }


        function excelDonwload(){

            if($("#datepicker1").val() == ""){
                alert('날짜를 선택하세요.');
                return;
            }

            $("#download").find("img").show();
            $.ajax({
                url: "/manage/excel_download/" + $("#datepicker1").val()
            })
            .done(function( data ) {
                alert('파일 생성 완료!');
                $("#download").prop("href", data);
                $("#downloadBtn").click();
                $("#download").find("img").hide();
            });
         }

        function ajaxSetup(){
            //csrf setting for jquery ajax post
            $.ajaxSetup({
                 beforeSend: function(xhr, settings) {
                     function getCookie(name) {
                         var cookieValue = null;
                         if (document.cookie && document.cookie != '') {
                             var cookies = document.cookie.split(';');
                             for (var i = 0; i < cookies.length; i++) {
                                 var cookie = jQuery.trim(cookies[i]);
                                 // Does this cookie string begin with the name we want?
                                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                     break;
                                 }
                             }
                         }
                         return cookieValue;
                     }
                     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                         // Only send the token to relative URLs i.e. locally.
                         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                     }
                 }
            });
        }

        function excelDonwload2(){

            $("#download2").find("img").show();
            $.ajax({
                url: "/manage/excel_download2/" + $("#courseId").val()
            })
            .done(function( data ) {
                alert('파일 생성 완료!');
                $("#download2").prop("href", data);
                $("#downloadBtn2").click();
                $("#download2").find("img").hide();
            });
         }

        function excelDonwload3(){

            $("#download3").find("img").show();
            $.ajax({
                url: "/manage/excel_download3/" + $("#datepicker3").val()
            })
            .done(function( data ) {
                alert('파일 생성 완료!');
                $("#download3").prop("href", data);
                $("#downloadBtn3").click();
                $("#download3").find("img").hide();
            });
        }

        function leftEvent(){
            $(".left a").each(function(index){
                console.log("leftEvent: "+index);
                $(this).click(function(){
                    viewContent(index);
                });
            });
        }


        function viewContent(no){
            //console.log("viewContent["+no+"]");

            $("div[id^=main]").hide();
            $(".left a").removeClass("on");
            $(".left a:eq("+no+")").addClass("on");
            switch(no) {
                case 0:
                    $("#main").fadeIn(500, "easeInExpo");
                    break;
                case 1:
                    $("#main2").fadeIn(500, "easeInExpo", function(){
                        notice_list();
                    });
                    break;
                default :
                    //$("#main2").show();
                    viewContent(0);
                    break;
            }
        }

        function setTimeSelect(val, sHH, sMI, eHH, eMI){
            var v1 = "";
            var target = "";
            for(var i=0; i<4; i++){
                switch(i) {
                    case 0: target = "sHH"; v1 = sHH; break;
                    case 1: target = "sMI"; v1 = sMI; break;
                    case 2: target = "eHH"; v1 = eHH; break;
                    case 3: target = "eMI"; v1 = eMI; break;
                }

                $("input[type=checkbox][value="+val+"]").parent().parent().find("select[name="+target+"]").append(function(){
                    for(var j=0; j < 24; j++){
                        var v2 = j < 10 ? "0" + j.toString() : j.toString();
                        var selected = v1 == v2 ? "selected" : "";
                        $(this).append("<option value='"+v2+"' " + selected + ">"+ v2 +"</option>");
                    }
                });
            }
        }

        function notice_reg(){
            $("#list").find("input:not(:input[type=checkbox]), select").prop("disabled", true);

            if(validate())
                return;
            if(validate2())
                return;
            if(validate3())
                return;

            $.post(
                "/manage/notice/reg",
                $("#form").serialize(),
                function(data){

                    if(data > 0)
                        alert("저장되었습니다.");

                    notice_list();
                });
        }


        //기본 페이지 번호는 0. mysql limit 변수
        var pNo = 0;
        var pageSize = 10;
        function setPaging(cnt){
            cnt = Number(cnt);
            var pagingCount = Math.ceil(cnt / 10);
            var startNo = 0;
            var limitCount = 0;
            if(pagingCount > 10)
                startNo = pNo > 5 ? pNo - 5 : 0;
            //if(pagingCount > 10)
            //    pagingCount = 10;
            $("#paging").html("");

            console.log('pagingCount: '+pagingCount);
            console.log('startNo: '+startNo);

            for(var i=startNo; i < pagingCount; i++){
                if(limitCount == 10)
                    break;

                var on = pNo == i ? "on" : "";
                $("#paging").append("<a href='javascript:notice_list("+i+");' class='"+on+"'>"+(i+1)+"</a>");
                limitCount++;

            }
        }

        function notice_list(pageNo){
            if(pageNo == null || pageNo == "" || pageNo == "undefined")
                pageNo = 0;
            pNo = pageNo;

            $.post(
                "/manage/notice/list",
                {"pageNo": pageNo, "pageSize" : pageSize},
                function(data){
                    $("#list tbody").html("");
                    for(var i=0; i< data.length; i++){
                        //1행 생성시 페이징 처리
                        if(i == 0){
                            setPaging(data[i].cnt);
                        }

                        var html = "";
                        html += "<tr style='display: none;'>                                                                           ";
                        html += "    <td><input type='checkbox' name='seq' value='"+data[i].seq+"' onclick='modChg("+data[i].seq+")' /></td>      ";
                        html += "    <td>"+data[i].seq+"</td>                                                   ";
                        html += "    <td><input type='text' name='title' value='"+data[i].title+"' disabled maxlength='120'/></td>      ";
                        html += "    <td><input type='text' name='link' value='"+data[i].link+"' disabled maxlength='120'/></td>        ";
                        html += "    <td>                                                                       ";
                        html += "	<input type='text' name='sDate' value='"+data[i].sdate+"' disabled readonly/>                 ";
                        html += "	<select name='sHH' id='sHH' disabled>                                                ";
                        html += "	</select>                                                                   ";
                        html += "	<select name='sMI' id='sMI' disabled>                                                ";
                        html += "	</select>                                                                   ";
                        html += "    </td>                                                                      ";
                        html += "    <td>                                                                       ";
                        html += "	<input type='text' name='eDate' value='"+data[i].edate+"' disabled readonly/>                 ";
                        html += "	<select name='eHH' id='eHH' disabled>                                                ";
                        html += "	</select>                                                                   ";
                        html += "	<select name='eMI' id='eMI' disabled>                                                ";
                        html += "	</select></td>                                                              ";
                        html += "    <td>                                                                       ";
                        html += "	<input type='button' value='수정'  disabled onclick='mod()'/>                         ";
                        html += "	<input type='button' value='삭제'  disabled onclick='del()'/>                         ";
                        html += "    </td>                                                                      ";
                        html += "</tr>                                                                          ";
                        $("#list tbody").append(html);
                        setCalendar();
                        setTimeSelect(data[i].seq, data[i].sHH, data[i].sMI, data[i].eHH, data[i].eMI);
                    }//end for

                    showTr(0);

                    $("#list tr, #list input[type=text]:disabled, #list select:disabled").dblclick(function(){
                        if($(this).find("input[type=checkbox]").is(":not(:checked)"))
                            $(this).find("input[type=checkbox]").click();
                    });
                },
                "json"
            );

        }

        function showTr(idx){
            if(idx == 10)
                return;

            setTimeout(
                function(){
                    $("#list tbody>tr:eq("+ idx++ +")").show();
                    showTr(idx);
                }, 20
            );
        }


        function modChg(val){
            if($("input[type=checkbox][value="+val+"]").is(":checked")){
                $("input[type=checkbox]:not(:input[type=checkbox][value="+val+"])").attr("checked", false);
                $("#main2").find("input:not(:input[type=checkbox]), select").attr("disabled", true);
                $("input[type=checkbox][value="+val+"]").parent().parent().find("input, select").attr("disabled", false);
                $("input[type=checkbox][value="+val+"]").parent().parent().find("input[name=title]").focus();
{#                $("input[type=checkbox][value="+val+"]").parent().parent().find("input[name=title]").focus(function(){alert("focus!"); $(this).select();});#}
            }else{
                $("#main2").find("input:not(:input[type=checkbox]), select").attr("disabled", true);
                $("#main2 #add").find("input, select").attr("disabled", false);
            }
        }

        function mod(){
            if(validate())
                return;
            if(validate2())
                return;
            if(validate3())
                return;

            $.post(
                "/manage/notice/mod",
                $("#form").serialize(),
                function(data){
                    notice_list(pNo);
                    alert("수정 되었습니다.");
                    modChg();
                });
        }
        function del(){
            $.post(
                "/manage/notice/del",
                $("#form").serialize(),
                function(data){
                    notice_list(pNo);
                    alert("삭제 되었습니다.");
                    modChg();
                });
        }

        function validate(){
            var bool = false;
            $("#main2 input[type=text]").each(function(index){
                if($(this).is(":disabled")) {
                    return true;
                }else if($(this).val() == ""){
                    alert("값을 입력하세요.");
                    $(this).focus();
                    bool = true;
                    return false;
                };
            });
            return bool;
        }

        function validate2(){
            var bool = false;

            if(Number($("#main2 input[name=sDate]:not(:disabled)").val()) > Number($("#main2 input[name=eDate]:not(:disabled)").val())){
                alert("게시일은 종료일보다 클 수 없습니다.");
                $("#main2 input[name=eDate]:not(:disabled)").focus();
                bool = true;
            }else if(Number($("#main2 input[name=sDate]:not(:disabled)").val()) == Number($("#main2 input[name=eDate]:not(:disabled)").val()) &&
                     Number($("#main2 select[name=sHH]:not(:disabled)").val()) > Number($("#main2 select[name=eHH]:not(:disabled)").val())){
                alert("게시시간은 종료시간보다 클 수 없습니다.");
                $("#main2 select[name=eHH]:not(:disabled)").focus();
                bool = true;
            }else if(Number($("#main2 input[name=sDate]:not(:disabled)").val()) == Number($("#main2 input[name=eDate]:not(:disabled)").val()) &&
                     Number($("#main2 select[name=sHH]:not(:disabled)").val()) ==  Number($("#main2 select[name=eHH]:not(:disabled)").val()) &&
                     Number($("#main2 select[name=sMI]:not(:disabled)").val()) >= Number($("#main2 select[name=eMI]:not(:disabled)").val())){
                alert("게시시간은 종료시간보다 같거나 클 수 없습니다.");
                $("#main2 select[name=eMI]:not(:disabled)").focus();
                bool = true;
            }
            return bool;
        }

        function validate3(){
            var RegExp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
            var url = $("#main2 input[name=link]:not(:disabled)").val();
            if(RegExp.test(url)){
                return false;
            }else{
                alert("링크 주소가 유효하지 않습니다.");
                return true;
            }
        }



    </script>
</head>
<body>
{% load staticfiles %}
<div id="header">
    <h1>K-MOOC 관리</h1>
</div>
<hr/>

<form id="form">
    {% csrf_token %}
    <div class="left">
        <ul>
            <li><a href="#">통계</a></li>
            <li><a href="#">공지사항</a></li>
        </ul>
    </div>

    <div id="main" class="main">

        일일통계 : <input type="text" style="width: 65px;" id="datepicker1" readonly>
        <input type="button" id="excel_down" value="다운로드" onclick="excelDonwload();">
        <a href="#" id="download" ><span id="downloadBtn" style="display: none;">download</span><img src="{% static "image/progress.gif" %}" style="display: none; width:20px; vertical-align: middle;"/></a>

        <hr/>
        월별통계 : <input type="text" style="width: 65px;" id="datepicker3" readonly>
        <input type="button" id="excel_down" value="다운로드" onclick="excelDonwload3();">
        <a href="#" id="download3" ><span id="downloadBtn3" style="display: none;">download</span><img src="{% static "image/progress.gif" %}" style="display: none; width:20px; vertical-align: middle;"/></a>


        <hr/>
        이수증<br/> 결과확인 :
        <select id="courseId">
            {% for key, value in courseInfo %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}

        </select>
        <input type="button" id="excel_down2" value="다운로드" onclick="excelDonwload2();">
        <a href="#" id="download2" ><span id="downloadBtn2" style="display: none;">download</span><img src="{% static "image/progress.gif" %}" style="display: none; width:20px; vertical-align: middle;"/></a>

    </div>



    <!-- 공지사항 -->
    <div id="main2" class="main">
        <h4>추가</h4>
        <table class="table1 table14_9" id="add">
            <colgroup>
                <col width="*"/>
                <col width="28%"/>
                <col width="18%"/>
                <col width="18%"/>
                <col width="5%"/>
            </colgroup>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>링크</th>
                    <th>게시일</th>
                    <th>종료일</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" name="title"  maxlength='120'/></td>
                    <td><input type="text" name="link"  maxlength='120'/></td>
                    <td>
                        <input type="text" name="sDate" id="sDate" readonly/>
                        <select name="sHH" id="sHH">
                            <option value="00">00</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>

                        </select>
                        <select name="sMI" id="sMI">
                            <option value="00">00</option>
                            <option value="30">30</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="eDate" id="eDate" readonly/>
                        <select name="eHH" id="eHH">
                            <option value="00">00</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                        </select>
                        <select name="eMI" id="eMI">
                            <option value="00">00</option>
                            <option value="30">30</option>
                        </select>
                    </td>
                    <td><a href="javascript:notice_reg();"><input type="button" value="등록" /></a></td>
                </tr>
            </tbody>
        </table>

        <hr>

{#        <input type="button" value="list" onclick="notice_list();">#}

        <h4>목록</h4>
        <table class="table2 table14_9" id="list">
            <colgroup>
                <col width="3%"/>
                <col width="3%"/>
                <col width="*"/>
                <col width="20%"/>
                <col width="17%"/>
                <col width="17%"/>
                <col width="8%"/>
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th>번호</th>
                    <th>제목</th>
                    <th>링크</th>
                    <th>게시일</th>
                    <th>종료일</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div id="paging"></div>
    </div>
</form>
</body>
</html>
