<!DOCTYPE html>
<head>
    {% load staticfiles %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>K-MOOC 현황</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/layout.css" %}" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

{#    <script>#}
{#        var lol2=1000;#}
{#    </script>#}

    <script>
        (function(w,d,s,g,js,fs){
          g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
          js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
          js.src='https://apis.google.com/js/platform.js';
          fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
        }(window,document,'script'));
    </script>

    <script>
        function printTime() {
                      var clock = document.getElementById("clock");            // 출력할 장소 선택
                      var now = new Date();                         // 현재시간
                      var hours = now.getHours();
                      var minutes = now.getMinutes();
                      var seconds = now.getSeconds();

                      if (hours < 10) {
                          hours = '0'+ hours
                      }

                      if (minutes < 10) {
                          minutes = '0'+ minutes
                      }

                      if (seconds < 10) {
                          seconds = '0'+ seconds
                      }

                      var nowTime = hours + ":" + minutes + ":" + seconds;

                      clock.innerHTML = nowTime;           // 현재시간을 출력
                      setTimeout("printTime()",1000);         // setTimeout(“실행할함수”,시간) 시간은1초의 경우 1000
        }
        window.onload = function() {                         // 페이지가 로딩되면 실행
                      printTime();
        }
    </script>

</head>
<body>
<!-- wrap Start -->
<div class="km_wrap">
  <h1><img src="{% static "image/km_title.gif" %}" alt="KMOOC 현황" align="middle" /></h1>
   <div class="km_join">
     <ul class="join_title">
       <li><img src="{% static "image/join_title1.gif" %}" alt="회원가입현황"></li>
       <li class="join_time" id="time"><img src="{% static "image/icon_time.gif" %}"><span>&nbsp;현재시간&nbsp;</span><span id="clock"></span></li>
     </ul>
     <div class="join_bg">
       <div class="join_cycle">
         <ul>
           <li class="text">주기</li>
           <li><label><input type="text" value="10" id="lolz" style="width:25px; height:35px; font-size: 20px;"></label></li>
           <li class="text">분</li>
           <li class="btn"><a href="#" onclick="setTime()">적용</a></li>
         </ul>

       <script type="text/javascript">

{#           var load_herf = function(){#}
{#               var lol = Number(document.getElementById('lolz').value);#}
{#               location.href = '/manage?lolz=' + lol;#}
{#               lol2 = lol * 1000 * 60;#}
{#           }#}
{##}
{#           var load_sec = function(min){#}
{#               setTimeout("load_herf(min)", Number(lol2));#}
{#           }#}

           function setTime() {
               var lol = Number(document.getElementById('lolz').value);
	       if (lol==null) {
		   lol=10;
	       }
               lol2 = lol * 1000 * 60;
               refresh(lol);
            }
            function refresh() {
                $("#aa").load("/manage #aa");

                setTimeout("refresh()", Number(lol2));
            }

	    $(document).ready(function(){
               setTime();
            });

        </script>

       </div>
         <div id="aa">
       <p class="standard">{{ time }}&nbsp;  기준</p>
        <div class="number">
          <div class="table_tit1">가입자 수</div>
          <table summary="가입자 수"  class="table1">
          <caption>가입자 수</caption>
            <thead>
              <tr>
                <th>오늘 신규</th>
                <th class="none">누적</th>
              </tr>
              </thead>
              <tbody id="count_data1">
               <tr>
                <td>{{ user_today }}</td>
                <td class="none">{{ user_total }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="number1">
          <div class="table_tit2">수강신청자 수</div>
          <table summary="가입자 수"  class="table2">
          <caption>수강신청자 수</caption>
            <thead>
              <tr>
                <th>오늘 신규</th>
                <th>누적</th>
                <th class="none">누적(중복제외)</th>
              </tr>
              </thead>
              <tbody>
               <tr>
                <td>{{ course_today }}</td>
                <td>{{ course_total }}</td>
                <td class="none">{{ course_distinct }}</td>
              </tr>
             </tbody>
          </table>
        </div>
             <div class="number2">
              <div class="table_tit3">운영과정수</div>
              <table summary="가입자 수"  class="table3">
              <caption>운영과정수</caption>
                 <thead>
                  <tr>
                    <th>운영과정수</th>
                    <th>수강신청자 수</th>
                    <th class="none">수강신청자수 <br />(중복제외)</th>
                  </tr>
                </thead>
                <tbody>
                   <tr>
                     <td>{{ course_count }}</td>
                    <td>{{ course_total }}</td>
                    <td class="none">{{ course_distinct }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
         </div>
     </div>
    </div>
  <div class="km_visitant">
    <ul class="visitant_title">
       <li><img src="{% static "image/visitant_title1.gif" %}" alt="방문자 현황"></li>
       <li class="join_time"><a href="https://analytics.google.com/analytics/" target="_blank"><img src="{% static "image/btn_analytic.gif" %}" alt="Mooc Google Analytic"></a></li>
    </ul>
    <div class="graph_box">

        <!-- Step 1: Create the containing elements. -->
        <span class="Titles-main" id="view-name" style="display: none;"></span>
        <span id="embed-api-auth-container"></span>
        <span id="view-selector-container" style="display: none;"></span>
        <span>
            <table id="active-user">
                <tr>
                    <td><h3>현재 접속중인 사용자</h3></td>
                </tr>
                <tr>
                    <td id="active-users-container"></td>
                </tr>
            </table>
        </span>
        <br>
{#            <span id="active-users-container"></span></h3><br>#}
        <div id="chart-1-container"></div>
        <br>

        <table id="chart_detail">
            <tr>
                <td><b style="color:rgba(151,187,205,0.5)">█▌</b> <b>This Week</b> </td>
                <td>&nbsp;&nbsp;</td>
                <td><b style="color:rgba(220,220,220,0.5)">█▌</b> <b>Last Week</b> </td>
            </tr>
        </table>
        <br>

        <!--<div id="legend-1-container"></div>-->

        <!-- Step 2: Load the library. -->

        <!-- This demo uses the Chart.js graphing library and Moment.js to do date
             formatting and manipulation. -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>

        <!--
        <script src="http://lifelongedu.kmoocs.kr/managestatic/js/view-selector2.js"></script>
        <script src="http://lifelongedu.kmoocs.kr/managestatic/js/date-range-selector.js"></script>
        <script src="http://lifelongedu.kmoocs.kr/managestatic/js/active-users.js"></script>
        -->

        <!-- Include the ViewSelector2 component script. -->
        <script src="{% static 'js/view-selector2.js' %}"></script>

        <!-- Include the DateRangeSelector component script. -->
        <script src="{% static 'js/date-range-selector.js' %}"></script>-

        <!-- Include the ActiveUsers component script. -->
        <script src="{% static 'js/active-users.js' %}"></script>

        <script src="http://es6-promises.s3.amazonaws.com/es6-promise-2.0.0.min.js"></script>

        <script>
        var Promise = Promise || ES6Promise.Promise; // do this to access Promise directly
        // == NOTE ==
        // This code uses ES6 promises. If you want to use this code in a browser
        // that doesn't supporting promises natively, you'll have to include a polyfill.

        gapi.analytics.ready(function() {

          /**
           * Authorize the user immediately if the user has already granted access.
           * If no access has been created, render an authorize button inside the
           * element with the ID "embed-api-auth-container".
           */
          gapi.analytics.auth.authorize({
            container: 'embed-api-auth-container',
            clientid: '1042418329871-5dpgpvbtfov7hoklq42acl6cglbvs13h.apps.googleusercontent.com'
          });


          /**
           * Create a new ActiveUsers instance to be rendered inside of an
           * element with the id "active-users-container" and poll for changes every
           * five seconds.
           */
          var activeUsers = new gapi.analytics.ext.ActiveUsers({
            container: 'active-users-container',
            pollingInterval: 5
          });


          /**
           * Add CSS animation to visually show the when users come and go.
           */
          activeUsers.once('success', function() {
            var element = this.container.firstChild;
            var timeout;

            this.on('change', function(data) {
              var element = this.container.firstChild;
              var animationClass = data.delta > 0 ? 'is-increasing' : 'is-decreasing';
              element.className += (' ' + animationClass);

              clearTimeout(timeout);
              timeout = setTimeout(function() {
                element.className =
                    element.className.replace(/ is-(increasing|decreasing)/g, '');
              }, 3000);
            });
          });


          /**
           * Create a new ViewSelector2 instance to be rendered inside of an
           * element with the id "view-selector-container".
           */
          var viewSelector = new gapi.analytics.ext.ViewSelector2({
            container: 'view-selector-container',
          })
          .execute();


          /**
           * Update the activeUsers component, the Chartjs charts, and the dashboard
           * title whenever the user changes the view.
           */
          viewSelector.on('viewChange', function(data) {
            var title = document.getElementById('view-name');
            title.innerHTML = data.property.name + ' (' + data.view.name + ')';

            // Start tracking active users for this view.
            activeUsers.set(data).execute();

            // Render all the of charts for this view.
            renderWeekOverWeekChart(data.ids);
            renderYearOverYearChart(data.ids);
            renderTopBrowsersChart(data.ids);
            renderTopCountriesChart(data.ids);
          });


          /**
           * Draw the a chart.js line chart with data from the specified view that
           * overlays session data for the current week over session data for the
           * previous week.
           */
          function renderWeekOverWeekChart(ids) {

            // Adjust `now` to experiment with different days, for testing only...
            var now = moment(); // .subtract(3, 'day');

            var thisWeek = query({
              'ids': ids,
              'dimensions': 'ga:date,ga:nthDay',
              'metrics': 'ga:sessions',
              'start-date': moment(now).subtract(1, 'day').day(0).format('YYYY-MM-DD'),
              'end-date': moment(now).format('YYYY-MM-DD')
            });

            var lastWeek = query({
              'ids': ids,
              'dimensions': 'ga:date,ga:nthDay',
              'metrics': 'ga:sessions',
              'start-date': moment(now).subtract(1, 'day').day(0).subtract(1, 'week')
                  .format('YYYY-MM-DD'),
              'end-date': moment(now).subtract(1, 'day').day(6).subtract(1, 'week')
                  .format('YYYY-MM-DD')
            });

            Promise.all([thisWeek, lastWeek]).then(function(results) {

              var data1 = results[0].rows.map(function(row) { return +row[2]; });
              var data2 = results[1].rows.map(function(row) { return +row[2]; });
              var labels = results[1].rows.map(function(row) { return +row[0]; });

              labels = labels.map(function(label) {
                return moment(label, 'YYYYMMDD').format('ddd');
              });

              var data = {
                labels : labels,
                datasets : [
                  {
                    label: 'Last Week',
                    fillColor : 'rgba(220,220,220,0.5)',
                    strokeColor : 'rgba(220,220,220,1)',
                    pointColor : 'rgba(220,220,220,1)',
                    pointStrokeColor : '#fff',
                    data : data2
                  },
                  {
                    label: 'This Week',
                    fillColor : 'rgba(151,187,205,0.5)',
                    strokeColor : 'rgba(151,187,205,1)',
                    pointColor : 'rgba(151,187,205,1)',
                    pointStrokeColor : '#fff',
                    data : data1
                  }
                ]
              };

              new Chart(makeCanvas('chart-1-container')).Line(data);
              generateLegend('legend-1-container', data.datasets);
            });
          }

          /**
           * Extend the Embed APIs `gapi.analytics.report.Data` component to
           * return a promise the is fulfilled with the value returned by the API.
           * @param {Object} params The request parameters.
           * @return {Promise} A promise.
           */
          function query(params) {
            return new Promise(function(resolve, reject) {
              var data = new gapi.analytics.report.Data({query: params});
              data.once('success', function(response) { resolve(response); })
                  .once('error', function(response) { reject(response); })
                  .execute();
            });
          }

          /**
           * Create a new canvas inside the specified element. Set it to be the width
           * and height of its container.
           * @param {string} id The id attribute of the element to host the canvas.
           * @return {RenderingContext} The 2D canvas context.
           */
          function makeCanvas(id) {
            var container = document.getElementById(id);
            var canvas = document.createElement('canvas');
            var ctx = canvas.getContext('2d');

            container.innerHTML = '';
            canvas.width = container.offsetWidth;
            canvas.height = container.offsetHeight;
            container.appendChild(canvas);

            return ctx;
          }

          /**
           * Create a visual legend inside the specified element based off of a
           * Chart.js dataset.
           * @param {string} id The id attribute of the element to host the legend.
           * @param {Array.<Object>} items A list of labels and colors for the legend.
           */
          function generateLegend(id, items) {
            var legend = document.getElementById(id);
            legend.innerHTML = items.map(function(item) {
              var color = item.color || item.fillColor;
              var label = item.label;
              return '<li><i style="background:' + color + '"></i>' + label + '</li>';
            }).join('');
          }

          // Set some global Chart.js defaults.
          Chart.defaults.global.animationSteps = 60;
          Chart.defaults.global.animationEasing = 'easeInOutQuart';
          Chart.defaults.global.responsive = true;
          Chart.defaults.global.maintainAspectRatio = false;

        });
        </script>

    </div>
  </div>
</div>

<!-- wrap End -->
</body>
</html>
