<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>K-Mooc 관리</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="http://lifelongedu.kmoocs.kr/managestatic/css/user_count.css">

    <script>
        (function(w,d,s,g,js,fs){
          g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
          js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
          js.src='https://apis.google.com/js/platform.js';
          fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
        }(window,document,'script'));
    </script>

    <script>
        function printTime() {
                      var clock = document.getElementById("clock");            // 출력할 장소 선택
                      var now = new Date();                         // 현재시간
                      var hours = now.getHours();
                      var minutes = now.getMinutes();
                      var seconds = now.getSeconds();

                      if (hours < 10) {
                          hours = '0'+ hours
                      }

                      if (minutes < 10) {
                          minutes = '0'+ minutes
                      }

                      if (seconds < 10) {
                          seconds = '0'+ seconds
                      }

                      var nowTime = hours + ":" + minutes + ":" + seconds;

                      clock.innerHTML = nowTime;           // 현재시간을 출력
                      setTimeout("printTime()",1000);         // setTimeout(“실행할함수”,시간) 시간은1초의 경우 1000
        }
        window.onload = function() {                         // 페이지가 로딩되면 실행
                      printTime();
        }
    </script>

    <script>
        var lol2=1000;
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>

</head>
<body>

    <div id="num0">
        <h1>&nbsp;<font color="red">K&nbsp;-&nbsp;</font>MOOC 현황</h1>
        <p id="time"><h3><span>현재시간&nbsp;</span><span id="clock"></span></h3></p>
    </div>
    <br>


    <div id="num1">
        <div id="title1">
            <h2>회원 가입 현황</h2>
        </div>

        <p>주기&nbsp;:&nbsp;<input type="text" value="10" id="lolz" width="10" style="width: 25px;">&nbsp;분
        <input type="button" value="적용" OnClick="setTime()"></p>
        <script type="text/javascript">

            function setTime() {
                var lol = Number(document.getElementById('lolz').value);
                lol2 = lol * 1000 * 60;
                refresh();
            }
            function refresh() {
                $("#aa").load("/manage_main.html #aa");
                setTimeout("refresh()", Number(lol2));
            }

        </script>

        <div id="aa">

             <p id="a0"><h3>{{ time }}&nbsp; 기준</h3></p>

            <table id="user_count_main" align="center" width="100%" height="160">
                <tr>
                    <td>
                        <table id="count1" border="1" cellspacing="0">
                            <tr align="center">
                                <td colspan="2">가입자 수</td>
                            </tr>
                            <tr id="a1">
                                <td width="50%">신규</td>
                                <td width="50%">누적</td>
                            </tr>
                            <tr id="a2">
                                <td width="50%"> {{ user_today }} </td>
                                <td width="50%"> {{ user_total }} </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table id="count2" border="1" cellspacing="0">
                            <tr align="center">
                                <td colspan="2">수강 신청자 수</td>
                            </tr>
                            <tr id="b1">
                                <td width="50%">신규</td>
                                <td width="50%">누적</td>
                            </tr>
                            <tr id="b2">
                                <td width="50%">{{ course_today }}</td>
                                <td width="50%">{{ course_total }}</td>
                            </tr>
                            </table>
                        </td>
                    </tr>
            </table>
        </div>
    </div>

    <br>

    <div id="num2">

        <div id="title2">
            <h2>방문자 현황</h2>
        </div>

        <!-- Step 1: Create the containing elements. -->
        <span class="Titles-main" id="view-name" style="display: none;"></span>
        <span id="embed-api-auth-container"></span>
        <span id="view-selector-container" style="display: none;"></span>
        <h3><span id="active-users-container"></span></h3><br>
        <div id="chart-1-container"></div>
        <br>

        <table id="chart_detail">
            <tr>
                <td><b style="color:rgba(151,187,205,0.5)">█▌</b> <b>This Week</b> </td>
                <td>&nbsp;&nbsp;</td>
                <td><b style="color:rgba(220,220,220,0.5)">█▌</b> <b>Last Week</b> </td>
            </tr>
        </table>
        <br>

        <!--<div id="legend-1-container"></div>-->


        <!-- Step 2: Load the library. -->

        <!-- This demo uses the Chart.js graphing library and Moment.js to do date
             formatting and manipulation. -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>

        <script src="http://lifelongedu.kmoocs.kr/managestatic/js/view-selector2.js"></script>
        <script src="http://lifelongedu.kmoocs.kr/managestatic/js/date-range-selector.js"></script>
        <script src="http://lifelongedu.kmoocs.kr/managestatic/js/active-users.js"></script>

        <script>

        // == NOTE ==
        // This code uses ES6 promises. If you want to use this code in a browser
        // that doesn't supporting promises natively, you'll have to include a polyfill.

        gapi.analytics.ready(function() {

          /**
           * Authorize the user immediately if the user has already granted access.
           * If no access has been created, render an authorize button inside the
           * element with the ID "embed-api-auth-container".
           */
          gapi.analytics.auth.authorize({
            container: 'embed-api-auth-container',
            clientid: '1042418329871-5dpgpvbtfov7hoklq42acl6cglbvs13h.apps.googleusercontent.com'
          });


          /**
           * Create a new ActiveUsers instance to be rendered inside of an
           * element with the id "active-users-container" and poll for changes every
           * five seconds.
           */
          var activeUsers = new gapi.analytics.ext.ActiveUsers({
            container: 'active-users-container',
            pollingInterval: 5
          });


          /**
           * Add CSS animation to visually show the when users come and go.
           */
          activeUsers.once('success', function() {
            var element = this.container.firstChild;
            var timeout;

            this.on('change', function(data) {
              var element = this.container.firstChild;
              var animationClass = data.delta > 0 ? 'is-increasing' : 'is-decreasing';
              element.className += (' ' + animationClass);

              clearTimeout(timeout);
              timeout = setTimeout(function() {
                element.className =
                    element.className.replace(/ is-(increasing|decreasing)/g, '');
              }, 3000);
            });
          });


          /**
           * Create a new ViewSelector2 instance to be rendered inside of an
           * element with the id "view-selector-container".
           */
          var viewSelector = new gapi.analytics.ext.ViewSelector2({
            container: 'view-selector-container',
          })
          .execute();


          /**
           * Update the activeUsers component, the Chartjs charts, and the dashboard
           * title whenever the user changes the view.
           */
          viewSelector.on('viewChange', function(data) {
            var title = document.getElementById('view-name');
            title.innerHTML = data.property.name + ' (' + data.view.name + ')';

            // Start tracking active users for this view.
            activeUsers.set(data).execute();

            // Render all the of charts for this view.
            renderWeekOverWeekChart(data.ids);
            renderYearOverYearChart(data.ids);
            renderTopBrowsersChart(data.ids);
            renderTopCountriesChart(data.ids);
          });


          /**
           * Draw the a chart.js line chart with data from the specified view that
           * overlays session data for the current week over session data for the
           * previous week.
           */
          function renderWeekOverWeekChart(ids) {

            // Adjust `now` to experiment with different days, for testing only...
            var now = moment(); // .subtract(3, 'day');

            var thisWeek = query({
              'ids': ids,
              'dimensions': 'ga:date,ga:nthDay',
              'metrics': 'ga:sessions',
              'start-date': moment(now).subtract(1, 'day').day(0).format('YYYY-MM-DD'),
              'end-date': moment(now).format('YYYY-MM-DD')
            });

            var lastWeek = query({
              'ids': ids,
              'dimensions': 'ga:date,ga:nthDay',
              'metrics': 'ga:sessions',
              'start-date': moment(now).subtract(1, 'day').day(0).subtract(1, 'week')
                  .format('YYYY-MM-DD'),
              'end-date': moment(now).subtract(1, 'day').day(6).subtract(1, 'week')
                  .format('YYYY-MM-DD')
            });

            Promise.all([thisWeek, lastWeek]).then(function(results) {

              var data1 = results[0].rows.map(function(row) { return +row[2]; });
              var data2 = results[1].rows.map(function(row) { return +row[2]; });
              var labels = results[1].rows.map(function(row) { return +row[0]; });

              labels = labels.map(function(label) {
                return moment(label, 'YYYYMMDD').format('ddd');
              });

              var data = {
                labels : labels,
                datasets : [
                  {
                    label: 'Last Week',
                    fillColor : 'rgba(220,220,220,0.5)',
                    strokeColor : 'rgba(220,220,220,1)',
                    pointColor : 'rgba(220,220,220,1)',
                    pointStrokeColor : '#fff',
                    data : data2
                  },
                  {
                    label: 'This Week',
                    fillColor : 'rgba(151,187,205,0.5)',
                    strokeColor : 'rgba(151,187,205,1)',
                    pointColor : 'rgba(151,187,205,1)',
                    pointStrokeColor : '#fff',
                    data : data1
                  }
                ]
              };

              new Chart(makeCanvas('chart-1-container')).Line(data);
              generateLegend('legend-1-container', data.datasets);
            });
          }

          /**
           * Extend the Embed APIs `gapi.analytics.report.Data` component to
           * return a promise the is fulfilled with the value returned by the API.
           * @param {Object} params The request parameters.
           * @return {Promise} A promise.
           */
          function query(params) {
            return new Promise(function(resolve, reject) {
              var data = new gapi.analytics.report.Data({query: params});
              data.once('success', function(response) { resolve(response); })
                  .once('error', function(response) { reject(response); })
                  .execute();
            });
          }

          /**
           * Create a new canvas inside the specified element. Set it to be the width
           * and height of its container.
           * @param {string} id The id attribute of the element to host the canvas.
           * @return {RenderingContext} The 2D canvas context.
           */
          function makeCanvas(id) {
            var container = document.getElementById(id);
            var canvas = document.createElement('canvas');
            var ctx = canvas.getContext('2d');

            container.innerHTML = '';
            canvas.width = container.offsetWidth;
            canvas.height = container.offsetHeight;
            container.appendChild(canvas);

            return ctx;
          }

          /**
           * Create a visual legend inside the specified element based off of a
           * Chart.js dataset.
           * @param {string} id The id attribute of the element to host the legend.
           * @param {Array.<Object>} items A list of labels and colors for the legend.
           */
          function generateLegend(id, items) {
            var legend = document.getElementById(id);
            legend.innerHTML = items.map(function(item) {
              var color = item.color || item.fillColor;
              var label = item.label;
              return '<li><i style="background:' + color + '"></i>' + label + '</li>';
            }).join('');
          }

          // Set some global Chart.js defaults.
          Chart.defaults.global.animationSteps = 60;
          Chart.defaults.global.animationEasing = 'easeInOutQuart';
          Chart.defaults.global.responsive = true;
          Chart.defaults.global.maintainAspectRatio = false;

        });
            </script>
    </div>

</body>
</html>