<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>팝업1</title>
    <link rel="stylesheet" type="text/css" href="/manage/home/static/css/pop.css">
</head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
{% for pop in pop_list %}
    <div class="pop-wrap">
        <div class="pop-area">
            <!-- pop1-top-area s -->
            <div class="pop-top-area hei-200">

                <!-- pop1_imgbg s -->
                <div class="pop_imgbg pop1_imgmg">
                    <img src="/manage/home/static/image/pop1_bg.png">
                </div>

            </div>

            <!-- pop-body-area s -->
            <div class="pop-body-area">

                <!-- pop1-titbar s -->
                <div class="pop1-titbar">
                    <i></i>
                </div>
                <h4>{{ pop.0 }}</h4>

                <div class="t-gray" id="contents"></div>
                <!-- pop-footer-area s -->
            </div>
        </div>
    <div style="text-align: right;">
        <label>
            <input id="" name="" type="checkbox" style="vertical-align: middle;">
            <span style="font-style:normal; font-size:13px;"><b>{{ pop.4 }}일간 열지 않음 &nbsp;&nbsp;</b></span>
        </label>

        <span><a href="javascript:popClose();" title="닫기" style="color: inherit;">[ 닫기 ]</a></span>
    </div>
    </div>

    <script>
    $( document ).ready(function() {
      console.log('Ready!!!');
    });
        {% autoescape off %}
            var contents = "{{ pop.1 }}";
        {% endautoescape %}
        $("#contents").html(contents);
        function popClose() {
            window.close();
        }
    </script>
    </body>
{% endfor %}
</html>