<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>팝업2</title>
<link rel="stylesheet" type="text/css" href="../../../static/css/pop.css" >
</head>

<body>

<!-- popup1 -->
<div class="pop-wrap">

	<!-- pop-area s -->
    <div class="pop-area">

	<!-- pop1-top-area s -->
    <div class="pop-top-area hei-123">

		<!-- pop1_imgbg s -->
		<div class="pop_imgbg pop2_imgmg">
			<img src="img/pop2_bg.png">
		</div>

	</div>

	<!-- pop-body-area s -->
    <div class="pop-body-area">

		<h4 class="t-blue">메인글</h4>
		
		<p class="t-gray">	
        안녕하세요 반갑습니다. 안녕하세요 반갑습니다. 안녕하세요 반갑습니다.
        안녕하세요 반갑습니다. 안녕하세요 반갑습니다. 안녕하세요 반갑습니다.
        안녕하세요 반갑습니다. 안녕하세요 반갑습니다. 안녕하세요 반갑습니다.
        안녕하세요 반갑습니다. 안녕하세요 반갑습니다. 안녕하세요 반갑습니다.
		</p>

	</div>

<!-- pop-footer-area s -->
		<div class="pop-footer-area pop2-footer">
		<div class="pop-btnarea pop2-btnarea">
			<a class="t-gray b-gray" href="*">닫기</a>
		</div>


	</div>


    </div>

</div>

</body>
</html>
