{% extends "container/main_base.html" %}
{% block pagetitlename %}Q&A{% endblock %}
{% block pagetitlename_header %}Q&A{% endblock %}
{% block script_down %}
<script>
	{% include "community/script/faq.js" %}
</script>
{% endblock %}
{% block containor %}

    <!-- start: page -->

<div class="row">
    <section class="panel panel-featured ">
        <header class="panel-heading">
            <div><h2 class="panel-title">Q&A 신규 등록</h2></div>
        </header>
        <div class="panel-body">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    머리글
                    <span class="required">*</span>
                </label>
                <div id="head_content" class="col-sm-10">
                    <select style="width: 200px" id="head_title">
                        <option id="null">선택하세요.</option>
                        <option id="kmooc_f">K-MOOC</option>
                        <option id="regist_f">회원가입</option>
                        <option id="login_f">로그인/계정</option>
                        <option id="enroll_f">수강신청/취소</option>
                        <option id="course_f">강좌수강</option>
                        <option id="certi_f">성적/이수증</option>
                        <option id="tech_f">기술적문제</option>
                        <option id="mobile_f">모바일문제</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    질문 내용
                    <span class="required">*</span>
                </label>
                <div id="summernote_content" class="col-sm-10">
{#                    <div class="summernote1" data-plugin-summernote data-plugin-options='{ "height": 200, "codemirror": { "theme": "ambiance" }}'> </div>#}
                    <textarea rows="5" class="form-control" id="noticecontent" placeholder="내용을 입력하세요." required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">답     변 <span class="required">*</span></label>
{#                    <textarea rows="20" class="form-control" id="noticecontent" placeholder="내용을 입력하세요." required></textarea>#}
                <div id="summernote_content" class="col-sm-10">
{#                    <div class="summernote" data-plugin-summernote data-plugin-options='{ "height": 300, "codemirror": { "theme": "ambiance" }}'> </div>#}
                    <div class="summernote" id="summernote"> </div>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-3" align="left">
                    <a class="btn btn-default" href="/manage/comm_faq">목록으로</a>
                </div>
                <div class="col-sm-9" align="right">
                    <button class="btn btn-primary" id="faq_save" >저     장</button>
{#                    <button class="btn btn-default" id="faq_del" >삭     제</button>#}
                </div>
            </div>
        </footer>
    </section>
</div>






{% endblock %}