{% extends "container/main_base.html" %}
{% block pagetitlename %}자료실{% endblock %}
{% block pagetitlename_header %}자료실{% endblock %}
{% block script_down %}
<script>
	{% include "community/script/refer.datatables.ajax.js" %}
</script>
{% endblock %}
{% block containor %}
	<!-- start: page -->
<section class="panel panel-featured ">
    <header class="panel-heading">
        <div><h2 class="panel-title">자료실</h2></div>
    </header>

    <div class="panel-body" style="padding-top: 0;"> 
        <div class="panel-body" align="right" style="padding: 0%; margin: 0;">

            <a class="btn btn-default" id="add_notice" href="/manage/new_refer">신규등록</a>

        </div>

        <table class="table table-hover table-striped  table-bordered" id="datatable-ajax" data-url="comm_reference_room" style="width: 100%;" >
            <thead>
                <tr>
                    <td>ID</td>
                    <td>삭제flag</td>
                    <td>No</td>
                    <td>머리글</td>
                    <td>제목</td>
                    <td>작성일</td>
                    <td>공개여부</td>
{#                    <td width="15%"> 우선 순위 변경</td>#}
                </tr>
            </thead>
            <tbody id="notice_body">
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th width="10%">No</th>
                    <th width="10%"></th>
                    <th width="10%">머리글</th>

                </tr>
            </tfoot>
        </table>

    </div>
</section>

{% endblock %}