{% extends "container/main_base.html" %}
{% block pagetitlename %}공지사항{% endblock %}
{% block pagetitlename_header %}공지사항{% endblock %}
{% block script_down %}
<script>
	{% include "community/script/notice.datatables.ajax.js" %}
</script>


{% endblock %}
{% block containor %}
	<!-- start: page -->

<section class="panel panel-featured ">
    <header class="panel-heading">
        <div><h2 class="panel-title">공지사항</h2></div>
    </header>

    <div class="panel-body" style="padding-top: 0;"> 
        <div class="panel-body" align="right" style="padding: 0%; margin: 0;">

            <a class="btn btn-default" id="add_notice" href="/manage/new_notice">신규등록</a>

        </div>
        {% load static %}
        <table class="table table-hover table-striped  table-bordered" id="datatable-ajax" data-url="/manage/comm_notice" style="width: 100%;" data-swf-path="{% static "assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls.swf" %}">
            <thead>
                <tr>
                    <th width="10%">No</th>
                    <th width="10%">머리글</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>작성일</th>
                    <th>공개여부</th>
                </tr>
            </thead>
            <tbody id="notice_body">
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th width="10%">No</th>
                    <th width="10%">머리글</th>
                </tr>
            </tfoot>
        </table>

    </div>
</section>


{% endblock %}