{% extends "container/main_base.html" %}
{% block pagetitlename %}운영 현황{% endblock %}
{% block pagetitlename_header %}운영 현황{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        var versionNo = $.fn.dataTable.version;
        console.log(versionNo);
//        test
        setDataTable();
    });

    function search() {
        var table = $('#dataTable').DataTable();
        table.ajax.reload();
    }

    function buildSearchData() {
        var obj = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            org: $("#org").val(),
            course: $("#course").val(),
            run: $("#run").val(),
        }
        return obj
    }

    function setDataTable() {
        $('#dataTable').DataTable({
            dom: 'Bfrtip',
            lengthChange: true,
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: 'copy',
                    className: 'btn btn-default btn-xs',
                },
                {
                    extend: 'csvHtml5',
                    text: 'csv',
                    className: 'btn btn-default btn-xs',
                },
                {
                    extend: 'excelHtml5',
                    text: 'excel',
                    className: 'btn btn-default btn-xs',
                },
                {
                    extend: 'pdfHtml5',
                    text: 'pdf',
                    className: 'btn btn-default btn-xs',
                },
                {
                    extend: 'print',
                    text: 'print',
                    className: 'btn btn-default btn-xs',
                },
            ],
            pageLength: 10,
            bPaginate: true,
            bAutoWidth: true,
            processing: true,
            ordering: true,
            serverSide: false,
            searching: true,
            ajax: {
                "url": "/manage/mana_state/",
                "type": "POST",
                "data": buildSearchData
            },
            columns: [
                {data: "id"},
                {data: "display_name"},
                {data: "lowest_passing_grade"},
                {data: "effort"}
            ]

        });

    }

</script>
{% endblock %}
{% block containor %}
<!-- start: page -->

<section class="panel panel-featured ">
    <header class="panel-heading">
        <div><h2 class="panel-title">운영 현황</h2></div>
    </header>
    {% include "search_condition.html" %}
    <div class="panel-body">
        <table id="dataTable" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>아이디</th>
                <th>강좌명</th>
                <th>lowest_passing_grade</th>
                <th>effort</th>
            </tr>
            </thead>
        </table>
    </div>
</section>
{% endblock %}