{% extends "container/main_base.html" %}
{% block pagetitlename %}멀티사이트 추가{% endblock %}
{% block pagetitlename_header %}멀티사이트 추가{% endblock %}
{% block script %}{% endblock %}
{% block script_down %}

<!-- sweat alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% include "community/script/test.js" %}
    {% include "community/script/notice.js" %}
    jQuery.ajaxSettings.traditional = true;
    $(document).ready(function(){
        setDataTable1();
        var value_list;
        var id = '{{id}}';
        if (id != 99999) {

            document.getElementById('DelBtn').style.display = '';
            document.getElementById('row_DelBtn').style.display = '';
            document.getElementById('row_SaveBtn').style.display = '';
            document.getElementById('add_row_DelBtn').style.display = 'none';
            document.getElementById('add_row_SaveBtn').style.display = 'none';


        }
           $.ajax({
                url: '/manage/modi_multi_site/' + id,
                data: {
                    method: 'modi'
                }
            }).done(function (data) {
               if(data != '') {
                   value_list = data[0].toString().split(',');
                   $('#site_name').val(data[0][0]);
                   $('#site_code').val(data[0][1]);
                   $('#site_url').val(data[0][2]);
                   $('#logo_img').val(data[0][3]);
               }
            })
    });

    function save() {

        try {
            var method = '';
            var site_index ='';
            if ('{{ id }}' == 99999) {
                $.post("/manage/modi_multi_site_db/", {
                    csrfmiddlewaretoken: $.cookie('csrftoken'),
                    method: 'index',
                }).done(function (data) {
                    site_index = data;
                    location.href = '/manage/multi_site';
                }).fail(function (error) {
                    alert('error = ' + error.responseJSON);
                });
                method = 'add';

            }
            else {
                method = 'modi';
            }
            var site_name = $('#site_name').val();
            var site_code = $('#site_code').val();
            var site_url = $('#site_url').val();
            var logo_img = $('#logo_img').val();
            var regist_id = {{ user.id }};
            var multi_no = {{ id }};
            var email_list = "";
            $(".email").each(function(){
                if($(this).text() != '') {
                    email_list += $(this).text() + "+";
                }
            });

            $.post("/manage/modi_multi_site_db/", {
                csrfmiddlewaretoken: $.cookie('csrftoken'),
                site_name : site_name,
                site_code: site_code,
                site_url: site_url,
                logo_img: logo_img,
                regist_id: regist_id,
                multi_no: multi_no,
                site_index: site_index,
                email_list: email_list,
                method: method,
            }).done(function (data) {
                location.href = '/manage/multi_site';
            }).fail(function (error) {
                alert('error = ' + error.responseJSON);
            });
        } catch (e) {
            alert(e);
        }
    }

    function del() {
        try {
            var multi_no = {{ id }}
            $.post("/manage/modi_multi_site_db/", {
                csrfmiddlewaretoken: $.cookie('csrftoken'),
                multi_no: multi_no,
                method: 'delete',
            }).done(function (data) {
                location.href = '/manage/multi_site';
            }).fail(function (error) {
                alert('error = ' + error.responseJSON);
            });
        } catch (e) {
            alert(e);
        }
    }
    function setDataTable1() {
            var $table = $('#datatable1');

            $table.dataTable({
                dom: '<"clear">lfrtip',
                bProcessing: true,
                ordering: false,
                serverSide: false,
                searching: false,
                "language": {
                  "emptyTable": " "
                },
                buttons: [
                    {
                        text: 'Row selected data',
                        action: function (e, dt, node, config) {
                            alert(
                                    'Row data: ' +
                                    JSON.stringify(dt.row({selected: true}).data())
                            );
                        },
                        enabled: false
                    }
                ],
                ajax: {
                    url: "/manage/manager_list",
                    type: "GET",
                    dataType: "json",
                    data: buildSearchData1,
                    dataSrc: function (json) {
                        return json.data;
                    }
                },
                columns: [
                    {data: "pk", name: "pk"},
                    {data: "email", name: "email"},
                    {data: "name"},
                    {data: "username"},
                ],
                columnDefs: [
                    {
                        targets: 0, visible: true, name: "pk", render: function (data, type) {
                        return '<input type="checkbox" name="' + data + '" value="' + data + '">';
                    }, width:'8%'
                    },
                    {targets: 1, visible: true},
                    {targets: 2, visible: true, width: '20%'},
                    {targets: 3, visible: true, width: '20%'},
                ],
                rowsGroup: [
                    0,
                    5
                ],
                paginate: false,
                initComplete: function () {

                }
            })
            ;

        }

        function buildSearchData1() {
            var id = '{{id}}';
            var obj = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id: id,
            }
            return obj
        }

        function checked_all() {
            console.log($("#check_all").is(":checked"));

            if ($("#check_all").is(":checked")) {
                $("#datatable1 tbody input[type=checkbox]:visible").prop("checked", true);
            } else {
                $("#datatable1 tbody input[type=checkbox]:visible").prop("checked", false);
            }
        }

        function del_row() {
            $("#notice_body input[type=checkbox]:checked").each(function(){
                var user_id = $(this).parent().next().next().next().text();
                var regist_id = {{ user.id }};
                try {
                    var method = 'delete';
                    $.post("/manage/manager_db/", {
                        csrfmiddlewaretoken: $.cookie('csrftoken'),
                        user_id: user_id,
                        site_id: {{ id }},
                        regist_id:regist_id,
                        method: method,
                    }).done(function (data) {
                        update();
                        cnt = 0;
                    }).fail(function (error) {
                        alert('error = ' + error.responseJSON);
                    });
                } catch (e) {
                    alert(e);
                }
            });
        }

        function new_del_row() {

            $("#notice_body input[type=checkbox]:checked").each(function(){
                $(this).parent().parent().css("display","none");
                alert($(this).parent().next().text());
                $(this).parent().next().html('');
                alert($(this).parent().next().text());
            });
        }

        var cnt = 0;
        var up_date = 0;

        function add_row() {
            if(cnt == 0) {
                var tr_html = $("#notice_body tr:eq(0)").html();
                $("#notice_body").append("<tr>");
                $("#notice_body").append("<td></td>");
                $("#notice_body").append("<td><div class='col-sm-15'><input type='test' class='form-control' style='width:100%' id='input_email'></div></td>");
                $("#notice_body").append("<td><a href='javascript:verify();'><input class='btn btn-default' type='button' style='width:100%' id='SaveBtn' value='검     증'></a></td>");
                $("#notice_body").append("<td><a href='javascript:save_info();'><input class='btn btn-default' type='button' style='width:100%' id='SaveBtn' value='저     장'></a></td>");
                $("#notice_body").append("</tr>");
            }
            cnt = cnt + 1;
        }

        function new_add_row() {
            if(cnt == 0) {
                var tr_html = $("#notice_body tr:eq(0)").html();
                $("#notice_body").append("<tr>");
                $("#notice_body").append("<td></td>");
                $("#notice_body").append("<td><div class='col-sm-15'><input type='text' class='form-control' style='width:100%' id='input_email'></div></td>");
                $("#notice_body").append("<td><a href='javascript:verify();'><input class='btn btn-default' type='button' style='width:100%' id='SaveBtn' value='검     증'></a></td>");
                $("#notice_body").append("<td><a href='javascript:new_save_info();'><input class='btn btn-default' type='button' style='width:100%' id='SaveBtn' value='저     장'></a></td>");
                $("#notice_body").append("</tr>");

            }
            cnt = cnt + 1;
        }

        var cntt = 0;
        var is_verify = 0;

        function verify() {

            var input_email = $('#input_email').val();
            try {
                var method = 'verify';
                var input_email = $('#input_email').val();

                $.post("/manage/manager_db/", {
                    csrfmiddlewaretoken: $.cookie('csrftoken'),
                    input_email: input_email,
                    method: method,
                }).done(function (data) {
                    if (data == 0) {
                        is_verify = 0;
                        swal("경고", "정확한 Email 을 입력하세요.", "warning");
                        $("#input_email").val('');
                    }
                    else if (data == 1) {
                        is_verify = 1;
                        swal("성공", "정확한 Email 입니다.", "success");
                    }
                }).fail(function (error) {
                    alert('error = ' + error.responseJSON);
                });
            } catch (e) {
                alert(e);
            }
            cntt = cntt + 1;
        }

        function save_info() {

            if( cntt == 0 || is_verify == 0) {
                swal("경고", "정확한 Email 을 입력하세요.", "warning");
            }
            else {
                try {
                    var method = 'add';
                    var id = '{{id}}';
                    var input_email = $('#input_email').val();
                    var regist_id = {{ user.id }};

                    $.post("/manage/manager_db/", {
                        csrfmiddlewaretoken: $.cookie('csrftoken'),
                        id: id,
                        input_email: input_email,
                        regist_id: regist_id,
                        method: method,
                    }).done(function (data) {
                        update();
                        cnt = 0;
                    }).fail(function (error) {
                        swal("경고", "입력한 Email 이 이미 존재합니다", "warning");
                    });
                } catch (e) {
                    alert(e);
                }
            }
        }

        function new_save_info() {
            if( cntt == 0 || is_verify == 0) {
                swal("경고", "정확한 Email 을 입력하세요.", "warning");
            }
            else {
                try {
                    var method = 'temporary';
                    var input_email = $('#input_email').val();

                    $.post("/manage/manager_db/", {
                        csrfmiddlewaretoken: $.cookie('csrftoken'),
                        input_email: input_email,
                        method: method,
                    }).done(function (data) {
                        var flag = 0;
                        $(".email").each(function(){
                            if($(this).text() == input_email) {
                                swal("경고", "입력한 Email 이 이미 존재합니다", "warning");
                                $("#input_email").val('');
                                flag = 1;
                            }
                        });
                        if(flag == 0) {
                                $("#notice_body").prepend("<tr role='row' class='odd'><td><input type='checkbox' name='undefined' value='undefined'></td><td class = 'email'>" + data[0][0] + "</td><td>" + data[0][1] + "</td><td>" + data[0][2] + "</td></tr>");
                                $("#input_email").val('');
                            }
                        if($(".email").text() == ""){
                            $("#notice_body").prepend("<tr role='row' class='odd'><td><input type='checkbox' name='undefined' value='undefined'></td><td class = 'email'>" + data[0][0] + "</td><td>" + data[0][1] + "</td><td>" + data[0][2] + "</td></tr>");
                            $("#input_email").val('');
                        }
                        flag = 0;
                    }).fail(function (error) {
                        alert('error = ' + error.responseJSON);
                    });
                } catch (e) {
                    alert(e);
                }
            }
        }

        function update() {
            var table = $('#datatable1').DataTable();
            table.ajax.reload();
            up_date = up_date + 1;
        }
        $(function(){
            $('#btn-upload').click(function(e){
                e.preventDefault();
                $("input:file").click();
                var ext = $("input:file").val().split(".").pop().toLowerCase();
                if(ext.length > 0){
                    if($.inArray(ext, ["gif","png","jpg","jpeg"]) == -1) {
                        alert("gif,png,jpg 파일만 업로드 할수 있습니다.");
                        return false;
                    }
                }
                $("input:file").val().toLowerCase();
            });
        });

        function file_upload() {
        }

        function file_save() {
            var test = $('#uploadfile').val();
            var text = test.split('\\');
            $('#logo_img').val(text[2]);
            $('#uploadform').ajaxForm({
                type: "POST",
                url:'/manage/file_upload/',
                beforeSubmit: function (data,form,option) {
                    if( $("#uploadfile").val() != "" ){
                        var ext = $('#uploadfile').val().split('.').pop().toLowerCase();
                    }else{
                        swal("업로드 경고", "파일을 선택한 후 업로드 버튼을 눌러 주십시오", "warning");
                        return false;
                    }
                },
                success: function(data){
                    for(i=0; i<data.len; i++){
                        $( "#file_array" ).append("<div id = 'file_" + i + "'>"+ data.name[i] + "&nbsp; &nbsp;" + data.size[i] +"</div>");
                    }
                    $( "#file_array" ).append("<div id = 'file_cnt' style = 'display:none'>"+ data.len +"</h5>");
                    swal("업로드 완료", "OK 버튼을 눌러주세요", "success");
                    $('#logo_img').val(text[2]);
                },
                error: function() {
                    swal("업로드 실패", "다시 시도해주세요", "error");
                }
            })
        }

</script>
{% endblock %}
{% block containor %}

    <!-- start: page -->
{#{{ user.id }}#}
<div class="row">
    <section class="panel panel-featured ">
        <header class="panel-heading">
            <div><h2 class="panel-title">멀티사이트 추가</h2></div>
        </header>
{#        ================================================================#}

        <div class="panel-body">
            {% csrf_token %}

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    기관명
                    <span class="required">*</span>
                </label>
                <div class="col-sm-10">
                    <div>
                        <input type="text" class="form-control" id="site_name">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    기관코드
                    <span class="required">*</span>
                </label>
                <div class="col-sm-4">
                    <div>
                        <input type="text" class="form-control" id="site_code">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    기관이미지
                    <span class="required">*</span>
                </label>
                <div class="col-sm-4">
                    <div>
                        <input type="text" class="form-control" id="logo_img">
                        <form id="uploadform" enctype="multipart/form-data" method="post">
                            <input type="file" name="file" id = "uploadfile" style="display: none"/>
                            <button onclick="file_upload()" style="float: right" id='btn-upload' class="button1 white selected" onfocus="this.blur();">File</button>
                            <button onclick="file_save()" type="submit" style="float: right" class="button1 white selected">등록</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    접속 url
                    <span class="required">*</span>
                </label>
                <div class="col-sm-10">
                    <div>
                        <input type="text" class="form-control" id="site_url">
                    </div>
                </div>
            </div>


        </div>


        <footer class="panel-footer">
            <div class="row" style="padding: 10px;">
                <div class="col-sm-15" align="right" style="padding: 10px;">
                    <a href="javascript:del();"><input class="btn btn-default" type="button" id="DelBtn" style="display:none;" value="삭     제"></a>
                    <a href="javascript:save();"><input class="btn btn-primary" type="button" id="SaveBtn" value="저     장"></a>
                </div>

                <header class="panel-heading">
                    <div><h2 class="panel-title">담당자 정보</h2></div>
                </header>

                <div class="col-sm-15" align="right" style="padding: 10px;">
                    <a href="javascript:add_row();"><input class="btn btn-primary" type="button" id="row_SaveBtn" style="display:none;" value="행추가"></a>
                    <a href="javascript:del_row();"><input class="btn btn-default" type="button" id="row_DelBtn" style="display:none;" value="삭     제"></a>
                    <a href="javascript:new_add_row();"><input class="btn btn-primary" type="button" id="add_row_SaveBtn" value="행추가"></a>
                    <a href="javascript:new_del_row();"><input class="btn btn-default" type="button" id="add_row_DelBtn" value="삭     제"></a>
                </div>
            </div>
        </footer>

        <div>
            <table class="table table-hover table-striped  table-bordered" id="datatable1" data-url="/manage/multi_site_db/" style="width: 100%;" >
            <thead>
                <tr>
                    <td><input type="checkbox" onclick="checked_all()" id="check_all"/></td>
                    <td>Email</td>
                    <td>이름</td>
                    <td>id</td>
                </tr>

            </thead>
            <tbody id="notice_body">
            </tbody>
            </table>
        </div>

        <div class="col-sm-3" align="left">
                    <a class="btn btn-default" href="/manage/multi_site_db">목록으로</a>
        </div>
    </section>
</div>

{% endblock %}
