{% extends "container/main_base.html" %}
{% block pagetitlename %}회원 등록{% endblock %}
{% block pagetitlename_header %}회원 등록{% endblock %}
{% block script_down %}

<!-- css -->
<style>
    .email_title {
        background-color: #f6f6f6;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        border-bottom: solid black 1px;
    }

    .send_day {
        float: left;
        margin-right: 20px;
        margin-top: 5px;
        font-size: 120%;
    }

    #startDt {
        float: left;
        width: 150px;
        margin-right: 10px;
    }
    #endDt {
        float: left;
        width: 150px;
        margin-right: 50px;
    }

    #example1_wrapper{
        margin-top: 20px;
    }

    #top_download{
        float:right;
        margin-right: 10px;
    }

    #top_enroll{
        float:right;
    }
    #m_submit{
        float: right;
        margin-bottom: 10px;
    }
    .panel-body{
        display:grid;
    }

.pop-layer .pop-container {
  padding: 20px 25px;
}

.pop-layer p.ctxt {
  color: #666;
  line-height: 25px;
}

.pop-layer .btn-r {
  width: 100%;
  margin: 10px 0 20px;
  padding-top: 10px;
  border-top: 1px solid #DDD;
  text-align: right;
}

.pop-layer {
  display: none;
  position: absolute;
  top: 50%;
  left: 60%;
  width: 410px;
  height: auto;
  background-color: #fff;
  border: 5px solid #3571B5;
  z-index: 10;
}

.dim-layer {
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
  display: block;
}

.layer_title{
    margin-bottom: 30px;
}

</style>
<!-- css -->

<!-- js -->
<script>

    function dateMinus(days)
    {
        var nday = new Date();  //오늘 날짜..
        nday.setDate(nday.getDate() - days); //오늘 날짜에서 days만큼을 뒤로 이동
        var yy = nday.getFullYear();
        var mm = nday.getMonth()+1;
        var dd = nday.getDate()+1;

        if( mm<10) mm="0"+mm;
        if( dd<10) dd="0"+dd;
        return yy + "/" + mm + "/" + dd;
    }

    $(function () {
        $("#startDt").datepicker({dateFormat: 'yy/mm/dd'});
        $("#endDt").datepicker({dateFormat: 'yy/mm/dd'}).bind("change", function () {
            var minValue = $(this).val();
            minValue = $.datepicker.parseDate("yy/mm/dd", minValue);
            minValue.setDate(minValue.getDate() + 1);
            $("#endDt").datepicker("option", "minDate", minValue);
        })
    });

    $(document).ready(function () {

        $("#endDt").val(dateMinus(0));
        $("#startDt").val(dateMinus(30));

        setDataTable();

        $("#m_submit").click(function () {
            var table = $('#example1').DataTable();
            table.ajax.reload();
        });

    });

    function buildSearchData() {
        var obj = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            startDt: $("#startDt").val(),
            endDt: $("#endDt").val(),
        }
        return obj
    }


    function setDataTable() {
        var $table = $('#example1');
        $table.dataTable({
            "order": [[ 0, "desc" ]],
            dom: '<"toolbar">rt<"bottom"ip><"clear">',
            bProcessing: true,
            ordering: true,
            serverSide: false,
            searching: true,
            pageLength: 10,
            ajax: {
                url: "/manage/user_enroll",
                type: "GET",
                dataType: "json",
                data: buildSearchData,
                dataSrc: function (json) {
                    return json.data;
                }
            },
            columns: [
                {data: "seq"},
                {data: "req_org"},
                {data: "reg_why"},
                {data: "regist_id"},
                {data: "regist_date"},
                {data: "result"},
            ],
            columnDefs: [
                {targets: 0, visible: true},
                {targets: 1, visible: true},
                {targets: 2, visible: true},
                {targets: 3, visible: true},
                {targets: 4, visible: true},
                {targets: 5, visible: true},
            ],
            oTableTools: {
                sSwfPath: $table.data('swf-path'),
                aButtons: []
            },
            paginate: true,

        });
    }


function checked_all() {
    if ($("#check_all").is(":checked")) {
        $("#example1 tbody input[type=checkbox]:visible").prop("checked", true);
    } else {
        $("#example1 tbody input[type=checkbox]:visible").prop("checked", false);
    }
}


    $('.btn-example').click(function(){
        var $href = $(this).attr('href');
        layer_popup($href);
    });

function layer_popup(el){

    var $el = $(el);        //레이어의 id를 $el 변수에 저장
    var isDim = $el.prev().hasClass('dimBg');   //dimmed 레이어를 감지하기 위한 boolean 변수

    isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();

    var $elWidth = ~~($el.outerWidth()),
        $elHeight = ~~($el.outerHeight()),
        docWidth = $(document).width(),
        docHeight = $(document).height();

    // 화면의 중앙에 레이어를 띄운다.
    if ($elHeight < docHeight || $elWidth < docWidth) {
        $el.css({
            marginTop: -$elHeight /2,
            marginLeft: -$elWidth/2
        })
    } else {
        $el.css({top: 0, left: 0});
    }

    $el.find('a.btn-layerClose').click(function(){
        isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
        $('#user_org').val('');
        $('#user_why').val('');
        $('#user_file').val('');
        return false;
    });

    $el.find('a.btn-layerSend').click(function(){
        console.log('TEST');
        isDim ? $('.dim-layer').fadeOut() : $el.fadeOut();
        return false;
    });

    $('.layer .dimBg').click(function(){
        $('.dim-layer').fadeOut();
        return false;
    });
}


</script>
<!-- js -->

{% endblock %}
{% block containor %}

<section class="panel panel-featured ">
    <div class="email_title"><h2 class="panel-title">회원 등록</h2></div>
    <div class="panel-body" style="padding-top: 0;"> 
        {% load static %}

        <!-- top menu -->
        <div class="search_a">
            <div class="send_day"> 처리 일자</div>
            <input type="text" id="startDt" value="2017/12/07" placeholder="날짜 검색(시작)" class="form-control"/>
            <input type="text" id="endDt" value="2017/12/07" placeholder="날짜 검색(종료)" class="form-control"/>
            <input type="button" class="btn btn-primary" id="m_submit" value="검색">
        </div>

        <div class="menu">
            <a href="#layer2" class="btn-example"><input type="button" class="btn btn-primary" id="top_enroll" value="등록"></a>
            <a href="/manage/download_bulkuser_example"><input type="button" class="btn btn-primary" id="top_download" value="양식 다운로드"></a>
        </div>
        <!-- top menu -->

        <!-- data tables -->
        <table id="example1" class="table table-hover table-striped  table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>번호</th>
                <th>요청기관</th>
                <th>등록사유</th>
                <th>등록자</th>
                <th>등록일</th>
                <th>처리결과</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <!-- data tables -->

    </div>
</section>

<!-- hidden layer popup html -->
<div class="dim-layer">
    <div class="dimBg"></div>
    <div id="layer2" class="pop-layer">
        <div class="pop-container">
            <div class="pop-conts">
                <!--content //-->
                <b><h3 class="layer_title">회원일괄 등록</h3></b>
                요청기관 <input type="text" id="user_org" class="form-control"/><br>
                등록사유 <input type="text" id="user_why" class="form-control"/><br>
                등록파일 <input type="file" id="user_file">
                <div class="btn-r">
                    <a href="#" class="btn-layerSend"><input type="button" id="user_send" class="btn btn-primary" value="등록"></a>
                    <a href="#" class="btn-layerClose"><input type="button" class="btn btn-primary" value="닫기"></a>
                </div>
                <!--// content-->
            </div>
        </div>
    </div>
</div>
{% endblock %}
